
<div class="widget-fullwidth bg-gray-light row  p-40"
     ng-controller="modifcacionDesdeCentralCtrl"
     ng-init="init()"
     >
    <h3>
        Seleccionar centro:
    </h3>
    <div class="col-md-12" class="form-page p-40">
        <select
            class       = "form-control  ng-valid"
            ng-model    = "centroRemoto"
            ng-options  = "centro as centro.nombre for centro in centrosRemotos track by centro.nombre"
            ng-change   = "eligiendoCentroFuente()"
            >
            <option value=""><option>
        </select>
    </div>
</div>
