{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}
{% block cssPage %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css')}}"><!--hector-->
{% endblock cssPage%}

{% block javascriptPage %}

<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/resumen/FileSaver.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ asset('plugins/ng-csv/ng-csv.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/reporteFacilitadores/services/reporteFacilitadoresService.js') }}"></script>

<!--Servicios comunes -->
<script type="text/javascript" src="{{ asset('bundles/corecore/services/centroService.js')                                 }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/equivalenciaService.js')                                 }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>

<!--Controladores -->

<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/reporteFacilitadores/controllers/reporteFacilitadoresCtrl.js')      }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/reporteFacilitadores/controllers/reporteFacilitadorCtrl.js')    }}"></script>
<script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_es-es.js"></script>

{% endblock javascriptPage %}

{%block title %}
    Resumen
{% endblock title %}

{%block contentPage %}
<div ng-controller="reporteFacilitadoresCtrl" ng-init="init('{{fechaActual.fecha}}')">
    <div id="main-content" class="form-page">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Reporte de Facilitadores
                </h2>
            </div>
        </div>
    </div>
    <div class="widget-fullwidth bg-gray-light row  p-40"
             >
            <h3>
		Seleccionar centro:
            </h3>
            <div class="col-md-12" class="form-page p-40">
                <select
                class       = "form-control  ng-valid"
                ng-model    = "centro"
                ng-options  = "centro as centro.nombre for centro in centrosRemotos track by centro.nombre"
                ng-change   = "eligiendoCentroFuente()"
                >
                </select>
            </div>
            <br></br>

    </div>
    <div class="panel panel-default">
        <div class="panel-body">

  <span ng-click        = "exportandoACSV()" 
        csv-header      = "getHeaderCSV()"
        lazy-load       = "false" 
        ng-csv          = "getDatosExportar()" 
        filename        = "reporte_facilitadores.csv" 
        field-separator = ",">

                    <i class="fa fa-download cambiaestatus cursor-pointer"> </i>
                    Exportar a CSV
    </span>
            <br>
            <div class="table-responsive" id="exportable" export-csv="csv">
                <table 
                       st-pipe    ="pipeReporteFacilitadores"
                       st-table   ="facilitadores"
                       id         ="searchTextResults"
                       
                       class      ="table table-condensed table-striped table-hover table-bordered ">
                    <thead class="no-bd">
                        <tr>
                            <th colspan="14">
                                <input  
                                        class="form-control" 
                                        placeholder="Buscar ..." type="text" 
                                        ng-keypress="buscarFacilitador($event)"
                                        ng-model="busquedaF"/>
                                <input ng-model="id" type="text" value="" class="hidden"/>
                                <input ng-model="grupo" type="text" value="" class="hidden"/>
                                <input ng-model="nombre" type="text" value="" class="hidden"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="nombre_facilitador" class="cursor-pointer" >
                                Nombre
                            </th>
                            <th  >
                                Este mes <p>(
                                {% verbatim %}{{ mesActual }}{% endverbatim %}
                                )</p>

                            </th>
                            <th  >
                                Los próximos meses de este año
                                <p>( después de 
                                {% verbatim %}{{ mesActual }}{% endverbatim %}
                                )</p>
                            </th>
                            <th  >
                                Los últimos dos meses <p>( desde {% verbatim %}{{ hace2Meses }}{% endverbatim %}
                                 hasta {% verbatim %}{{ mesActual }}{% endverbatim %})</p>
                            </th>
                            <th  >
                                Los últimos 6 meses
                                <p>( desde {% verbatim %}{{ hace6Meses }}{% endverbatim %}
                                 hasta {% verbatim %}{{ mesActual }}{% endverbatim %})</p>
                            </th>
                            <th  >
                                Este año
                                <p>(
                                {% verbatim %}{{ anoActual }}{% endverbatim %}
                                )</p>
                              
                            </th>
                            <th  >
                                Total
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr align="center" ng-repeat="facilitador in facilitadores">
                            <td data-as-sortable-item ng-bind="facilitador.nombre_facilitador"></td>
                                <td align="center">
                                        <button class="btn btn-sm btn-white"
                                                href=""
                                                tooltip      = "Ver grupos actuales"
                                                tooltip-placement="top"
                                                ng-click="seleccionaFacilitador(facilitador.facilitador_id, 'tot_mes_actual', facilitador.nombre_facilitador);"
                                                ><span ng-bind="facilitador.tot_mes_actual                              "></span>
                                        </button>
                                </td>
                                <td align="center">
                                        <button class="btn btn-sm btn-white"
                                                href=""
                                                tooltip      = "Ver grupos proximos"
                                                tooltip-placement="top"
                                                ng-click="seleccionaFacilitador(facilitador.facilitador_id, 'proximos_meses', facilitador.nombre_facilitador);"
                                                ><span ng-bind="facilitador.proximos_meses                       "></span>
                                        </button>
                                </td>
                                <td align="center">
                                        <button class="btn btn-sm btn-white"
                                                href=""
                                                tooltip      = "Ver grupos ultimos 2 meses"
                                                tooltip-placement="top"
                                                ng-click="seleccionaFacilitador(facilitador.facilitador_id,'tot_hace_2_meses', facilitador.nombre_facilitador);"
                                                ><span ng-bind="facilitador.tot_hace_2_meses                             "></span>
                                        </button>
                                </td>
                      
                                  <td align="center">
                                        <button class="btn btn-sm btn-white"
                                                href=""
                                                tooltip      = "Ver grupos ultimos 6 meses"
                                                tooltip-placement="top"
                                                ng-click="seleccionaFacilitador(facilitador.facilitador_id, 'tot_ult_6_meses', facilitador.nombre_facilitador);"
                                                ><span ng-bind="facilitador.tot_ult_6_meses                       "></span>
                                        </button>
                                </td>
                                
                                <td align="center">
                                        <button class="btn btn-sm btn-white"
                                                href=""
                                                tooltip      = "Ver grupos del año"
                                                tooltip-placement="top"
                                                ng-click="seleccionaFacilitador(facilitador.facilitador_id, 'tot_este_anio', facilitador.nombre_facilitador);"
                                                ><span ng-bind="facilitador.tot_este_anio                       "></span>
                                        </button>
                                </td>

                                <td align="center">
                                        <button class="btn btn-sm btn-white"
                                                href=""
                                                tooltip      = "Ver grupos total de grupos del facilitador"
                                                tooltip-placement="top"
                                                ng-click="seleccionaFacilitador(facilitador.facilitador_id, 'totales', facilitador.nombre_facilitador);"
                                                ><span ng-bind="facilitador.totales                       "></span>
                                        </button>
                                </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages=""></div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>

<!--inicio:mensaje detalle facilitador
    {% include "ControlEscolarCalendarioBundle:reporteFacilitadores:modals/detalleFacilitador.html.twig"
            with{
                    'idModal'        : "idModalDetalleFacilitador",
                'tipoModal'      : "modal-dialog",

            }
    %}
fin:mensaje detalle facilitador-->

</div>

{%endblock contentPage %}

{%block contentModals %}
    {% include "ControlEscolarCalendarioBundle:reporteFacilitadores:modals/detalle2Facilitador.html.twig"
        with{
            'idModal'   : "idModalDetalle2Facilitador",
            'tipoModal' : "modal-dialog",
        }
    %}
{% endblock contentModals %}
