<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Dashboard">
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

        <title>Sistema de Administración de Centros Comunitarios S.A.C.C</title>

        <!-- Bootstrap core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <!--external css-->
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/css/style-responsive.css" rel="stylesheet">

        <script src="components/angular/angular.min.js"></script>
        <script src="components/angular-route/angular-route.min.js"></script>
        <script src="components/angular-resource/angular-resource.min.js"></script>
        <script src="components/angular-cookies/angular-cookies.min.js"></script>

        <script src="frontend/js/principal.js"></script>
        <script src="frontend/js/core/service/common/commonService.js"></script>
        <script src="frontend/js/core/service/common/modalService.js"></script>
        
        <script src="frontend/js/core/factory/generic/genericNewRestFactory.js"></script>
        
        <script src="frontend/js/core/controller/login/loginController.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-app="principal">

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->

        <div id="login-page" ng-controller="loginController" ng-init="init()">
            <div class="container">

                <form class="form-login">
                    <!-- Login de Acceso al sistema -->
                    <!--                        <a>{{usuario.nombre}}</a>
                                            <br>
                                            <a>{{privilegios}}</a>-->
                    <div ng-include src="'frontend/views/modals/login_acceso.html'">
                    </div>
                    <!-- Login de Acceso al sistema -->

                    <!-- Modal recuperación de contraseña -->
                    <div ng-include src="'frontend/views/modals/recuperacion_password.html'">
                    </div>
                    <!-- Modal recuperación de contraseña -->

                    <!-- Modal registro en el sistema -->
                    <div ng-include src="'frontend/views/modals/nuevo_aspirante.html'">
                    </div>
                    <!-- Modal registro en el sistema -->

                    <!-- Modal datos-->
                    <div ng-include src="'frontend/views/modals/custom_modal.html'">
                    </div>
                    <!-- Modal datos-->
                </form>	  	

            </div>
        </div>

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!--BACKSTRETCH-->
        <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
        <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
        <script>
              $.backstretch("frontend/images/zapatillas.jpg", {speed: 500});
        </script>


    </body>
</html>
