<div ng-controller="datetimepickerCtrl" class="bloque-left">
    <div class="panel no-bd bd-3 panel-stat" >
        <datetimepicker  data-ng-model              = "datePicker.date"
                         data-on-set-time            ="selectDatePicker(newDate, oldDate)"
                         data-datetimepicker-config = "{ startView:'day', minView:'day' }" /></datetimepicker>
    </div>
</div>