<div ng-controller  = "datosInformativosCtrl"
     class          = "bloque-left"
     ng-init        = "init()" >
    <div class="panel no-bd bd-3 panel-stat">


        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-car referencia"></i>Actividad con ruta</h2>
        {%if tipoCalendario == 'ofertaEducativa'%}
        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-home referencia"></i>Escenario Todos</h2>
        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-group referencia"></i>Escenario Grupo</h2>
        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-male referencia"></i>Escenario Centro</h2>
        {%endif%}
        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-external-link referencia"></i>Actividad de otra programación CE</h2>
        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-plus-square referencia"></i>Actividad de programación extemporánea</h2>

    </div>

    <div class="panel no-bd bd-3 panel-stat">
        <h2 style="padding: 0px; width: 100%;"><i class="fa fa-graduation-cap referencia"></i> Actividad Académica</h2>

        <h2 style="padding: 0px; width: 100%;"
            ng-repeat = "categoria in informativos.actividadAcademicaCategorias"
            >
            <i class        = "fa paleta-colores-categoria"
               ng-class     = "categoria.estilo"></i>
            <span  data-ng-bind = "categoria.nombre"></span>
        </h2>
    </div>


    <div class="panel no-bd bd-3 panel-stat">


        <h2 style="padding: 0px; width: 100%;" >
            <i class        = "fa paleta-colores-categoria fa fa-cog"></i>
            Actividad no Académica
        </h2>

        <h2 style="padding: 0px; width: 100%;"
            ng-repeat = "categoria in informativos.actividadNoAcademicaCategorias"
            >
            <i class        = "fa paleta-colores-categoria"
               ng-class     = "categoria.estilo"></i>
            <span  data-ng-bind = "categoria.nombre"></span>
        </h2>

    </div>

</div>
