<div ng-controller="tituloOfertaCtrl" 
     ng-init="init()" 
     class="col-md-12 col-sm-12 col-xs-12 left" 
     style="padding: 0px;">
    <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 0px;"  >
        <h2 class="text-white semi-bold" id="calender-current-day"  style="padding: 0px;">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
        </h2>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
        <h2 class="text-white semi-bold" id="calender-current-day"  style="width: 100%;">
            {# #}
            {% verbatim %}
                {{oferta.ofertaEducativa.nombre}}
                <br />
                <span data-ng-bind ="(oferta.ofertaEducativa.fecha_inicio | date : format : timezone) + ' - ' + (oferta.ofertaEducativa.fecha_fin | date : format : timezone)"> 
                </span>
            {% endverbatim %}
        </h2>
    </div>
        <div class="alert alert-warning warning-calendario" 
                 role="alert"
                 ng-if = "oferta.mensajeAlerta != ''
                            ||oferta.ofertaSoloLectura()">
            
                <span ng-if = "oferta.mensajeAlerta != ''"
                      data-ng-bind="'* '+oferta.mensajeAlerta"></span>
                <br ng-if = "oferta.mensajeAlerta != ''">

                <span ng-if = "oferta.ofertaSoloLectura()"
                    data-ng-bind = "'* Programación CE solo de lectura'"></span>
        </div>
        <div class={% verbatim %}{{oferta.claseAlertaDiasPublicar}}{% endverbatim %} 
             role="alert"
             ng-if = "oferta.mensajeAlertaDiasPublicar != ''">
                <span ng-if = "oferta.mensajeAlertaDiasPublicar != ''"
                      data-ng-bind="'* '+oferta.mensajeAlertaDiasPublicar"></span>
        </div>
        
</div>