<div class="form-panel">
    <form class="style-form form-horizontal" method="get">

        <h4 class="mb"><b>Datos del Profesor:</b></h4>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Nombre:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='profesorInput.nombre'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Apellido paterno:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='profesorInput.apellido_paterno'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Apellido materno:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='profesorInput.apellido_materno'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Curp:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='profesorInput.curp'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Email:</b></label>
            <div class="col-sm-6">
                <input type="email" class="form-control" ng-model='profesorInput.email'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Teléfono particular:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='profesorInput.telefono_particular'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Teléfono celular:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='profesorInput.telefono_celular'>
            </div>
        </div>

        <div class="form-group">
            
            <label class="col-sm-4 col-sm-4 control-label"><b>Fecha de Nacimiento:</b></label>
                <div class="col-sm-6">
                    <div class='input-group date' id='datetimepicker1' ng-model="profesorInput.fecha_nacimiento">
                        <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                    </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'DD-MM-YYYY',
                    defaultDate:fechaNacimientoProfesor
                    
                });
            });
        </script>
        </div>



        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Dirección:</b></label>
            <div class="col-sm-6">
                <textarea style="resize: none;" class="form-control" rows="5" ng-model='profesorInput.direccion'></textarea>
            </div>
        </div>
        <div class="form-group" ng-show="mostrarCampoCentro()">
            <label class="col-sm-4 col-sm-4 control-label"><b>Centro:</b></label>
            <div class="col-sm-6">
                <select ng-model="profesorInput.centro_id" ng-options="centro.id as centro.nombre for centro in centros">
                    <option  value="">---Selecciona un centro---</option>
                </select>
            </div>
        </div>
        <br>
        <center>
            <button type="button" class="btn  btn-primary btn-lg btn-theme03" ng-click='almacenarProfesor(profesorInput)'><i class="fa fa-2x fa-floppy-o"></i> Guardar </button>
            <button type="button" class="btn  btn-clear-g btn-lg btn-theme" ng-click='limpiarProfesor(profesorInput)'><i class="fa fa-2x fa-times"></i> Limpiar</button>
        </center>

    </form>
</div>   