{% extends ":Modals:baseModal.html.twig" %}

{% block controllerModal %}

{% endblock controllerModal %}

{% block tituloModal %}
    <b class= "modal-title verde " data-ng-bind="tituloModal"></b>
{% endblock tituloModal %}

{% block contenidoModal  %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="parametroContenedor">
            <div id="" class="form-group">
                <label class="col-sm-2 control-label" style="vertical-align: middle">
                  Descripción
                </label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control input-lg ng-pristine "
                         ng-model="parametroEdicion.etiqueta"
                  >
                </div>
            </div>
            <br><br><br>
            <div id="" class="form-group">
                <label class="col-sm-2 control-label" style="vertical-align: middle">
                    Valor
                </label>
                <div class="col-sm-10">
                    <input type="text"
                           ng-model="parametroEdicion.valor"
                           class="form-control input-lg ng-pristine "
                >
                </div>
            </div>
            <br><br><br>


        <br><br><br>
            <div id="" class="form-group">
                <label class="col-sm-10" style="vertical-align: middle">
                    Se modifica en centro
                </label>
                <div class="col-sm-10">
                    <button
                            ng-model    ="parametroEdicion.modifica_centro"
                            ng-click    ="CambiarIconoModificaCentro()"
                            type        ="button"
                            class       ="btn btn-sm btn-icon btn-rounded">

                   <i ng-if = "parametroEdicion.modifica_centro"
                      class = "fa fa-check text-success"></i>

                  <i ng-if = "!parametroEdicion.modifica_centro"
                     class="fa fa-minus text-disabled"></i>
                  </button>
                </div>

        </div>

    </div>
   </div>
</div>
{% endblock contenidoModal %}

{% block btnAceptar %}
    <button type="button"
            class="btn btn-verde"
            ng-if = "tipoModal !=='agregar'"
            ng-click="updateParametro()">
        Editar
    </button>
    <button type="button"
            class="btn btn-verde"
            ng-if = "tipoModal =='agregar'"
            ng-click="addParametro()">
        Guardar
    </button>
{% endblock btnAceptar%}

{% block textoCancelar %}
    <button type="button" class="btn btn-rojo btn-sm " data-dismiss="modal" id="" ng-click="">
        Cancelar
    </button>
{% endblock textoCancelar %}