<div ng-init="init()">

    <div class="content-panel row mt">
        <div class="col-md-12">
            <h4><i class="fa fa-angle-right"></i>{{pagina.titulo}}</h4>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Busqueda...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="input-group">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#visualizacion_columnas">Filtros</button>
                        <div id="visualizacion_columnas" class="collapse">
                            <h4>Datos a mostrar:</h4>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('nombre')"><input type="checkbox" ng-checked="visibilidadColumna('nombre')">Nombre</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('clave')"><input type="checkbox" ng-checked="visibilidadColumna('clave')">Clave</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('direccion')"><input type="checkbox" ng-checked="visibilidadColumna('direccion')">Dirección</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('telefono')"><input type="checkbox" ng-checked="visibilidadColumna('telefono')">Teléfono 1</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('telefono2')"><input type="checkbox" ng-checked="visibilidadColumna('telefono2')">Telefono 2</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('codigo_postal')"><input type="checkbox" ng-checked="visibilidadColumna('codigo_postal')">Código Postal</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('latitud')"><input type="checkbox" ng-checked="visibilidadColumna('latitud')">Latitud</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('longitud')"><input type="checkbox" ng-checked="visibilidadColumna('longitud')">Longitud</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('hora_apertura')"><input type="checkbox" ng-checked="visibilidadColumna('hora_apertura')">Hora de Apertura</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('hora_cierre')"><input type="checkbox" ng-checked="visibilidadColumna('hora_cierre')">Hora de Cierre</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodycontainer scrollable">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">

                    <thead>
                        <tr>
                            <th ng-class="columnas.nombre" ng-show="visibilidadColumna('nombre')"><i class=""></i>Nombre Centro</th>
                            <th ng-class="columnas.clave" ng-show="visibilidadColumna('clave')"><i class=""></i>Clave</th>                            
                            <th ng-class="columnas.direccion" ng-show="visibilidadColumna('direccion')"><i class=""></i>Dirección</th>
                            <th ng-class="columnas.telefono" ng-show="visibilidadColumna('telefono')"><i class=""></i>Teléfono 1</th>
                            <th ng-class="columnas.telefono2" ng-show="visibilidadColumna('telefono2')"><i class=""></i>Teléfono 2</th>
                            <th ng-class="columnas.codigo_postal" ng-show="visibilidadColumna('codigo_postal')"><i class=""></i>Código postal</th>
                            <th ng-class="columnas.latitud" ng-show="visibilidadColumna('latitud')"><i class=""></i>Latitud</th>
                            <th ng-class="columnas.longitud" ng-show="visibilidadColumna('longitud')"><i class=""></i>Longitud</th>
                            <th ng-class="columnas.hora_apertura" ng-show="visibilidadColumna('hora_apertura')"><i class=""></i>Hora de Apertura</th>
                            <th ng-class="columnas.hora_cierre" ng-show="visibilidadColumna('hora_cierre')"><i class=""></i>Hora de Cierre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--                        <tr ng-repeat-start="alumno in alumnos" id='alumno{{alumno.id}}'>-->
                        <tr ng-repeat="centro in centros" id='centro{{centro.id}}'>
                            <td ng-class="columnas.nombre" ng-show="visibilidadColumna('nombre')"><span ng-bind="centro.nombre"></span></td>
                            <td ng-class="columnas.clave" ng-show="visibilidadColumna('clave')"><span ng-bind="centro.clave"></span></td>
                            <td ng-class="columnas.direccion" ng-show="visibilidadColumna('direccion')"><span ng-bind="centro.direccion"></span></td>
                            <td ng-class="columnas.telefono" ng-show="visibilidadColumna('telefono')"><span ng-bind="centro.telefono"></span></td>
                            <td ng-class="columnas.telefono2" ng-show="visibilidadColumna('telefono2')"><span ng-bind="centro.telefono2"></span></td>
                            <td ng-class="columnas.codigo_postal" ng-show="visibilidadColumna('codigo_postal')"><span ng-bind="centro.codigo_postal"></span></td>
                            <td ng-class="columnas.latitud" ng-show="visibilidadColumna('latitud')"><span ng-bind="centro.latitud"></span></td>
                            <td ng-class="columnas.longitud" ng-show="visibilidadColumna('longitud')"><span ng-bind="centro.longitud"></span></td>
                            <td ng-class="columnas.hora_apertura" ng-show="visibilidadColumna('hora_apertura')"><span ng-bind="centro.hora_apertura"></span></td>
                            <td ng-class="columnas.hora_cierre" ng-show="visibilidadColumna('hora_cierre')"><span ng-bind="centro.hora_cierre"></span></td>
                            <td>
                                <button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="right" title="Ver Centro" ng-click="verDatosCentro(centro.id)"><i class="fa fa-eye fa-2x"></i></button>
                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="right" title="Modificar Centro" ng-click="modificarDatosCentro(centro.id)"><i class="fa fa-pencil fa-2x"></i></button>
                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="Eliminar Centro" ng-click="eliminarDatosCentro(centro.id)"><i class="fa fa-trash-o fa-2x"></i></button>

                            </td>
                        </tr>
                        <!--                        <tr ng-repeat-end>
                                                    <td colspan="{{numeroColumnas()}}">
                                                        <div class="collapse" id="{{alumno.id}}">
                                                            <div class="well">
                                                                <div ng-include src="'frontend/views/core/forms/alumno/alumno.html'">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>-->
                    </tbody>
                </table>
            </div><!-- /content-panel -->
            </div>
        </div><!-- /col-md-12 -->
    </div><!-- /row -->

    <!-- Modal datos-->
    <div ng-include src="'frontend/views/modals/custom_modal.html'">
    </div>
    <!-- Modal datos-->             

</div>
