{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    Editar Actividad

    <h4 class="modal-title verde">
        <i class="fa fa-bus fa-1x"></i>
        <i class="fa fa-graduation-cap fa-1x"></i>
        Actividad Academica - Aula 1
    </h4>
    
{%endblock tituloModal %}

{% block contenidoModal  %}
   
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#ruta2" aria-controls="ruta" role="tab" data-toggle="tab">Ruta</a>
            </li>

            <li role="presentation">
                <a href="#actividad2" aria-controls="actividad" role="tab" data-toggle="tab">Actividad</a>
            </li>

            <li role="presentation">
                <a href="#esquema2" aria-controls="esquema" role="tab" data-toggle="tab">Esquema</a>
            </li>

            <li role="presentation">
                <a href="#dia_horario2" aria-controls="dia_horario" role="tab" data-toggle="tab">Día/Horario</a>
            </li>

            <li role="presentation">
                <a href="#aula2" aria-controls="aula" role="tab" data-toggle="tab">
                    Aula
                </a>
            </li>

            <li role="presentation">
                <a href="#facilitador2" aria-controls="facilitador" role="tab" data-toggle="tab">
                    Facilitador
                </a>
            </li>            

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ruta2">

                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <td>
                            Expedición 1
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expedición 2
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expedición 3
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expedición 4
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="actividad2">

                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="buscar" placeholder="Buscar">
                </div>

                <table class="table table-striped table-bordered table-condensed">

                    <tr>
                        <td>
                            Inglés 1
                        </td>

                        <td>
                            Descripción
                        </td>

                        <td>
                            Etiqueta
                        </td>

                        <td>
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </td>                        

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            Inglés 1
                        </td>

                        <td>
                            Descripción
                        </td>

                        <td>
                            Etiqueta
                        </td>

                        <td>
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </td>                        

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            Inglés 1
                        </td>

                        <td>
                            Descripción
                        </td>

                        <td>
                            Etiqueta
                        </td>

                        <td>
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </td>                        

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            Inglés 1
                        </td>

                        <td>
                            Descripción
                        </td>

                        <td>
                            Etiqueta
                        </td>

                        <td>
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </td>                        

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>

                    </tr>                    

                </table>


            </div>
            <div role="tabpanel" class="tab-pane" id="esquema2">

                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <td>
                            HRS/DIAS/SEMANAS
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HRS/DIAS/SEMANAS
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HRS/DIAS/SEMANAS
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HRS/DIAS/SEMANAS
                        </td>
                        <td>
                            <div class="checkbox">
                                    <input type="checkbox">
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="dia_horario2">

                <table class="table table-striped table-bordered table-condensed">
                    <tr>

                        <td>
                            Lun
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            Mar
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            Mier
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            Jue
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            Vie
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>

                        <td>
                            Sab
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>                        

                    </tr>

                    <tr>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>                        

                    </tr>

                    <tr>

                        <td>
                            a
                        </td>

                        <td>
                            a
                        </td>

                        <td>
                            a
                        </td>

                        <td>
                            a
                        </td>

                        <td>
                            a
                        </td>

                        <td>
                            a
                        </td>                        

                    </tr>

                    <tr>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>

                        <td>
                            <select>
                                <option value="1">00:00</option>
                            </select>
                        </td>                        

                    </tr>

                </table>

            </div>

            <div role="tabpanel" class="tab-pane" id="aula2">

                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="buscar" placeholder="Aula 1">
                </div>                

                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <td>
                            Aula 1
                        </td>
                        <td>
                            <div class="verde">Disponible</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Aula 2
                        </td>
                        <td>
                            <div class="verde">Disponible</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Aula 3
                        </td>
                        <td>
                            <div class="rojo">Ocupada</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Aula 4
                        </td>
                        <td>
                            <div class="verde">Disponible</div>
                        </td>
                    </tr>
                </table>

            </div>

            
            <div role="tabpanel" class="tab-pane" id="facilitador2">

                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="buscar" placeholder="Juan Perez">
                </div>                

                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <td>
                            Paulina Szyrmer
                        </td>
                        <td>
                            6 hrs ocupada
                        </td>            
                        <td>
                            Apto
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Antonio Savater
                        </td>
                        <td>
                            20 hrs ocupada
                        </td>                        
                        <td>
                            Apto
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gabriela Nila
                        </td>
                        <td>
                            40 hrs ocupada
                        </td>                        
                        <td>
                            <div class="rojo">No apto</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maria Isabel Baxin
                        </td>
                        <td>
                            12 hrs ocupada
                        </td>                        
                        <td>
                            Apto
                        </td>
                    </tr>
                </table>

            </div>
            
        </div>

    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-rojo"
            data-dismiss="modal">
        Cancelar Actividad
    </button>

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Cerrar
    </button>
{%endblock textoCancelar%}

{%block btnAceptar %}
    <button type="button"
            class="btn btn-verde"
            ng-disabled="puedeAgregarEstatus()">
        Guardar
    </button>
{%endblock btnAceptar%}