{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    <p class="verde">
        ¿A que centro te quieres conectar?
    </p>
    
{%endblock tituloModal %}

{% block contenidoModal  %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="input-group">
                        <input class="form-control input-lg" type="text" placeholder="Buscar Centro">
                        <span class="input-group-addon btn-white">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                    </div>

                    <div style="height: 280px; overflow-y: scroll;">
                        <label
                            id="itmCentroResumen_todos"
                            title='Todos los Centros'
                            class="lstcentro ui-btn ui-corner-all itmCentroResumen ui-btn-b"
                            ng-click="resumenSeleccionaCentro('todos',$index)"
                        >
                            Todos
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}


{%endblock textoCancelar%}

{%block btnAceptar %}
    <button type="button"
            class="btn btn-verde"
            ng-disabled="puedeAgregarEstatus()">
        CONECTAR A CENTRO
    </button>
{%endblock btnAceptar%}