{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    <h4>
        Motivo de la cancelación
    </h4>
    
{%endblock tituloModal %}

{% block contenidoModal  %}

    <textarea class="form-control" rows="3"></textarea>

{% endblock contenidoModal %}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-rojo"
            data-dismiss="modal">
        Cancelar
    </button>

{%endblock textoCancelar%}

{%block btnAceptar %}

    <button type="button"
            class="btn btn-verde"
            ng-disabled="puedeAgregarEstatus()">
        Enviar
    </button>

{%endblock btnAceptar%}