{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    <p class="verde">
        Miercoles 12 de Noviembre del 2014 <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 8:00 am a 10:00 am
    </p>
    
{%endblock tituloModal %}

{% block contenidoModal  %}
   
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
                <a href="#ruta_actividad" aria-controls="ruta_actividad" role="tab" data-toggle="tab">Ruta/Actividad</a>
            </li>

            <li role="presentation">
                <a href="#fecha_de_termino" aria-controls="fecha_de_termino" role="tab" data-toggle="tab">Fecha de termino</a>
            </li>

            <!--
            <li role="presentation">
                <a href="#dia_horario" aria-controls="dia_horario" role="tab" data-toggle="tab">Día/Horario</a>
            </li>

            <li role="presentation">
                <a href="#aula" aria-controls="aula" role="tab" data-toggle="tab">Aula</a>
            </li>

            <li role="presentation">
                <a href="#facilitador" aria-controls="facilitador" role="tab" data-toggle="tab">Facilitador</a>
            </li>
            -->

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ruta_actividad">

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <select class="form-control input-lg">
                                <option value="1">Selecciona tu ruta o actividad</option>
                                <option value="2">Actividad Académica</option>
                                <option value="3">Actividad No Académica</option>
                                <option value="4">Ruta</option>
                            </select>
                        </p>
                    </div>
                </div>

                <!--tabla para Actividades Académicas-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>   

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>                        

                    </table>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="fecha_de_termino">

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <input class="form-control input-lg" type="text" placeholder="Escribe Día/Mes/Año">
                        </p>
                    </div>
                </div>

            </div>

            <!--
            <div role="tabpanel" class="tab-pane" id="dia_horario">

            </div>

            <div role="tabpanel" class="tab-pane" id="aula">

            </div>

            <div role="tabpanel" class="tab-pane" id="facilitador">

            </div>
            -->

        </div>

    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Cerrar
    </button>
{%endblock textoCancelar%}

{%block btnAceptar %}
    <button type="button"
            class="btn btn-verde"
            ng-disabled="puedeAgregarEstatus()">
        Agregar
    </button>
{%endblock btnAceptar%}