{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    Faltan 48 hrs para la actividad y no hay alumnos inscritos para "<strong>actividad académica</strong>".

{%endblock tituloModal %}

{% block contenidoModal  %}

    <p>

        <button type="button"
                class="btn btn-verde"
                ng-disabled="puedeAgregarEstatus()">
            Preinscritos
        </button>

        <button type="button"
                class="btn btn-rojo"
                data-dismiss="modal">
            Eliminar
        </button>

    </p>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
            <tr>

            <tr>
                <td>
                    ID SOCIO
                </td>
                <td>
                    NOMBRE
                </td>
                <td>
                    ACTIVIDAD DE INTERÉS
                </td>
                <td>
                    CONTACTO
                </td>
            </tr>

                <td>
                    44444
                </td>
                <td>
                    Claudio López
                </td>
                <td>
                    Computación para niños
                </td>
                <td>
                    55 66 44 33 22 11
                </td>
            </tr>

            <tr>
                <td>
                    77777
                </td>
                <td>
                    Sergio Pineda Garza
                </td>
                <td>
                    Computación para niños
                </td>
                <td>
                    55 66 44 33 22 11
                </td>
            </tr>

            <tr>
                <td>
                    3398
                </td>
                <td>
                    Laura Lara Cantú
                </td>
                <td>
                    Computación para niños
                </td>
                <td>
                    55 66 44 33 22 11
                </td>
            </tr>

            <tr>
                <td>
                    1011
                </td>
                <td>
                    Georgina Perez Camacho
                </td>
                <td>
                    Computación para niños
                </td>
                <td>
                    55 66 44 33 22 11
                </td>
            </tr>

        </table>
    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}



{%endblock textoCancelar%}

{%block btnAceptar %}

{%endblock btnAceptar%}