{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    
{%endblock tituloModal %}

{% block contenidoModal  %}
   
    <p>
    	<strong>Estas seguro/a que has terminado de calendarizar todas las actividades?</strong>
    </p>

{% endblock contenidoModal %}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        VOLVER AL CALENDARIO
    </button>
{%endblock textoCancelar%}

{%block btnAceptar %}
    <button type="button"
            class="btn btn-verde"
            ng-disabled="puedeAgregarEstatus()">
        PUBLICAR A CENTROS
    </button>
{%endblock btnAceptar%}