<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#/">
    <i class="fa fa-envelope-o" ></i>
    <span class="badge bg-theme" >{{mensajes.length}}</span>
</a>
<ul class="dropdown-menu extended inbox">
    <div class="notify-arrow notify-arrow-green"></div>
    <li ng-if='mensajes.length!=0'>
        <p class="green">Estos son tus nuevos mensajes</p>
    </li>
    <li ng-if='mensajes.length==0'>
        <p class="green">No tienes Nuevos mensajes</p>
    </li>
    <li ng-repeat="mensaje in mensajes" ng-if='mensajes.length!=0'>
        <a ng-click='marcarMensajeLeido(mensaje.id)'>
<!--            <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>-->
            <span class="subject">
                <span class="from" ng-bind='mensaje.asunto'></span>
                <span class="time" ng-bind='mensaje.fecha_alta'></span>
            </span>
            <span class="message" ng-bind="mensaje.mensaje">
            </span>
        </a>
    </li>
    <li>
        <b><a href="index.html#/bandeja/entrada">Ver todos los Mensajes</a></b>
    </li>
</ul>