<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
    <i class="fa fa-tasks"></i>
    <span class="badge bg-theme">4</span>
</a>
<ul class="dropdown-menu extended tasks-bar">
    <div class="notify-arrow notify-arrow-green"></div>
    <li>
        <p class="green">Tienes estas actividades pendientes</p>
    </li>
    <li>
        <a href="index.html#">
            <div class="task-info">
                <div class="desc">DashGum Admin Panel</div>
                <div class="percent">40%</div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="index.html#">
            <div class="task-info">
                <div class="desc">Database Update</div>
                <div class="percent">60%</div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="index.html#">
            <div class="task-info">
                <div class="desc">Product Development</div>
                <div class="percent">80%</div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="index.html#">
            <div class="task-info">
                <div class="desc">Payments Sent</div>
                <div class="percent">70%</div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    <span class="sr-only">70% Complete (Important)</span>
                </div>
            </div>
        </a>
    </li>
    <li class="external">
        <a href="#">Ver todas las tareas</a>
    </li>
</ul>