{#}{% if (is_granted('ROLE_SOLO_LECTURA') != true
       and is_granted('ROLE_SOLO_LECTURA_CALENDARIZACION') != true
       and is_granted('ROLE_SOLO_LECTURA_OFERTAEDUCATIVA')  != true
       and is_granted('ROLE_COORDINADOR_SUPERVISOR')  != true)

       %}{#}
{% if validaRuta('put_publicacion_calendario_centros') == 'permitido'%}
        <div ng-controller  = "botonesCtrl"
         class          = "col-md-12 col-sm-12 col-xs-12 bloque-left"
         style          = "padding: 15px 0px;  "
         ng-init        = "init()"
         >
            <div ng-if    = "centroFactory.mostrarCalendario">
                <i class="fa fa-info-circle pull-right "
                tooltip    ="No se puede Publicar el calendario ya que existen actividades obligatorias por calendarizar"
                tooltip-placement="right"
                ng-if       = "ofertaEducativa.ofertaEducativa.publicado != true && puedePublicarCalendario()"
                ></i>
                <button type        = "button"
                        class       = "btn btn-negro btn-block"
                        ng-click    = "publicarCalendario();"
                        ng-disabled = "puedePublicarCalendario()"
                        ng-if       = "ofertaEducativa.ofertaEducativa.publicado != true"
                        >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span >Publicar calendario</span>
                </button>
                <span type        = "button"
                        class       = "alert btn-success warning-calendario"
                        ng-if       = "ofertaEducativa.ofertaEducativa.publicado == true"
                        >
                    Calendario publicado
                </span>
            </div>
    </div>
{%endif%}