{%verbatim%}
<div class              = "bloque-left"
     ng-controller      ="estadisticaCtrl"
     ng-init            ="init()">

        <div class="panel no-bd bd-3 panel-stat text-center">

            <h1 class="verde">{{totalActividadesOfertaEducativa}}</h1>

            <p class="verde">
                Total de actividades de la Programación CE
            </p>

        </div>
        <div class="panel no-bd bd-3 panel-stat text-center">

            <h1 class="verde">{{totalActividadesCalendarizadas}}</h1>

            <p class="verde">
                Total de actividades calendarizadas
            </p>

        </div>
        <div class="panel no-bd bd-3 panel-stat text-center">

            <h1 class="verde">{{actividadesObligatoriasFaltantes}}</h1>

            <p class="verde">
                Actividades obligatorias faltantes por calendarizar
            </p>

        </div>


    </div>

{%endverbatim%}
