<div id                 ='external-events'
     ng-controller      ="filtrosCtrl"
     ng-init            ="init('{{ambiente}}')"
     class              = "bloque-left">
      <div class="col-md-10 col-sm-10 col-xs-10">
        <h2 class        ="text-white semi-bold "
            id           ="calender-current-day"
            style        ="width: 100%;"
            data-ng-bind = "centroActual.centro.nombre"
            ng-if        = "ofertaFactory.ofertaEducativa">

        </h2>
    </div>
    <div ng-if    = "centroFactory.mostrarCalendario">
        <div class="verde col-lg-12">
            Seleccionar programación CE:
        </div>
        <div class      = "form-group col-lg-12" >

            <select name          = "oferta_educativa_id"
                    class         = "form-control"
                    ng-model      = "ofertaFactory.ofertaEducativa"
                    required      = "required"
                    ng-options    = "ofertaEducativa as ofertaEducativa.nombre for ofertaEducativa in ofertasEducativas track by ofertaEducativa.oferta_educativa_centro_id"
                    ng-change     = "mostrarPorOfertaEducativa(ofertaFactory.ofertaEducativa)"
                    ></select>
        </div>
        <div class="verde col-lg-12">Ver:</div>
        <div class=" col-lg-12" >

            <div class="col-lg-9">
                <br>
                <span>Calendario de centro</span>
            </div>
            <div class="col-lg-2">
                <br>
                <input type          = "checkbox"
                       ng-model      = "filtro.calendario"
                       ng-change     = "cargarEventos()"
                       required >
            </div>

            <div class="col-lg-9">
                <br>
                <span >Programación CE</span>
            </div>
            <div class="col-lg-2">
                <br>
                <input type          = "checkbox"
                       ng-model      = "filtro.ofertaEducativa"
                       ng-change     = "cargarEventos()"
                       required >
            </div>
        </div>
        <br>
        <div class="verde col-lg-12">
            <br>
            Filtrar por aula:
        </div>

        <div class      = "form-group col-lg-12" >
             <i class="fa fa-info-circle pull-right "
                tooltip    ="Para filtrar desactiva la opción 'Programación CE'"
                tooltip-placement="right"
                ng-show   = "filtro.calendario != true || filtro.ofertaEducativa == true"
                ></i>
            <select name          = "filtro_aula_id"
                    class         = "form-control"
                    ng-model      = "filtro.aula"
                    ng-options    = "espacio as espacio.nombre  for espacio in centroActual.espacios track by espacio.aula_id"
                    ng-change     = "filtarPorAula()"
                    ng-disabled   = "filtro.calendario != true || filtro.ofertaEducativa == true"
                    ><option value ="">Todos</option>
            </select>
        </div>
        <div class="verde col-lg-12">
            Filtrar por facilitador:
        </div>
        <div class      = "form-group col-lg-12" >
            <i class="fa fa-info-circle pull-right "
                tooltip    ="Para filtrar desactiva la opción 'Programación CE'"
                tooltip-placement="right"
                ng-show   = "filtro.calendario != true || filtro.ofertaEducativa == true "
                ></i>
            <select name          = "filtro_facilitador_id"
                    class         = "form-control"
                    ng-model      = "filtro.facilitador"
                    ng-options    = "facilitador as facilitador.nombre+' '+facilitador.apellido_paterno+' '+facilitador.apellido_materno for facilitador in ( centroActual.facilitadores  | filter:{activo:true} ) track by facilitador.facilitador_id "
                    ng-change     = "filtarPorFacilitador()"
                    ng-disabled   = "filtro.calendario != true || filtro.ofertaEducativa == true "
                    ><option value ="">Todos</option>
            </select>
        </div>




    </div>
</div>
