{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}
{% block cssPage %}{% endblock cssPage%}

{% block javascriptPage %}
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/resumen/FileSaver.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="{{ asset('plugins/ng-csv/ng-csv.min.js') }}"></script>

    <!--Servicio de Parametros-->
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/parametros/services/parametroService.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>
    <!--script type="text/javascript" src="{{ asset('bundles/corecore/services/centroService.js')                                 }}"></script-->
    <script type="text/javascript" src="{{ asset('bundles/corecore/services/equivalenciaService.js')                                 }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/reportes/services/reporteFacilitadoresService.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/reportes/services/reporteFacilitadoresService.js') }}"></script>



    <!--Servicios comunes -->
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/reportes/controller/reporteFacilitadoresHorasAsignadasCtrl.js') }}"></script>
    <script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_es-es.js"></script>

{% endblock javascriptPage %}

{%block title %}
    Reportes
{% endblock title %}

{%block content %}
    <div ng-controller = "reporteFacilitadoresHorasAsignadasCtrl" ng-init="init()">
        <br><br>
        <h2><span class="glyph-icon flaticon-charts2" aria-hidden="true"></span> <span>Reporte de horas asignadas a facilitadores</span></h2>
        <br>
        {# SE INCLUYE EL ARCHIVO PARA MODIFICAR DESDE CENTRAL#}
        <div class="col-md-12">
            <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="frmreporte" data-parsley-validate="" id="ofertaEducativaForm" novalidate="" role="form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-12 form-group">
                                        <div class="col-lg-3"><label>Tipo de reporte</label></div>
                                        <div class="col-lg-9">
                                                <select
                                                    class="form-control"
                                                    ng-model="reporteSeleccionado"
                                                    ng-required
                                                    ng-change="destruyeRpt()"
                                                    ng-options="reporte as reporte.titulo for reporte in reportes"
                                                >
                                                </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <div class="col-lg-6"><label>Seleccionar centro</label></div>
                                        <div class="col-lg-6">
                                            <select
                                                class="form-control"
                                                ng-change="cargaFacilitadoresPorCentro()"
                                                ng-options="item as item.nombre for item in lstCentros track by item.mako_id"
                                                ng-model="centro_actual"
                                                ng-disabled="chkTodosCentros" ng-checked="!chkTodosCentros"
                                                >
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="col-lg-6"><label>Seleccionar Facilitador</label></div>
                                        <div class="col-lg-6">
                                            <select
                                                class="form-control"
                                                ng-options="item as item.nombre + ' ' + item.apellido_paterno + ' ' + item.apellido_materno for item in lstFacilitadores track by item.facilitador_id"
                                                ng-model="facilitador_actual"
                                                ng-disabled="chkTodosCentros" ng-checked="!chkTodosCentros"
                                                >
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <div class="col-lg-6"><label>Fecha Inicial</label></div>
                                        <div class="col-lg-6">
                                            <div class="dropdown">
                                                <input type      = "text"
                                                    id        = "fecha_inicio"
                                                    name      = "fecha_inicio"
                                                    class     = "dropdown-toggle form-control input-lg"
                                                    ng-model = "fechaInicio"
                                                    ng-required = "True"
                                                    placeholder  = "Fecha Inicial *"
                                                    id          = "dropdown1"
                                                    role        = "button"
                                                    data-toggle = "dropdownInicial"
                                                    required
                                                    >
                                                    {%
                                                                    include "::Form/inputs.html.twig"
                                                                    with {
                                                                        'campo'     : 'fecha_inicio',
                                                                        'formulario': 'frmreporte',
                                                                        'required'  : 'required'
                                                                    }
                                                    %}
                                                    <ul class="dropdown-menu" role="menu">
                                                        <datetimepicker
                                                            data-ng-model               ="fechaInicio"
                                                            data-on-set-time            ="selectDatePicker(newDate, oldDate, 'fechaInicio')"
                                                            data-datetimepicker-config  ="{ dropdownSelector: '#dropdownInicial',  startView:'day', minView:'day'  }"/>
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="col-lg-6"><label>Fecha final</label></div>
                                        <div class="col-lg-6">
                                            <div class="dropdown">
                                                <input type      = "text"
                                                           id        = "fecha_fin"
                                                           name      = "fecha_fin"
                                                           class     = "dropdown-toggle form-control input-lg"
                                                           ng-model = "fechaFin"
                                                           ng-disabled ="fechaInicio == ''"
                                                           required
                                                           placeholder  = "Fecha Final*"
                                                           id          = "dropdown1"
                                                           role        = "button"
                                                           data-toggle = "dropdown"
                                                    >
                                                    {%
                                                                    include "::Form/inputs.html.twig"
                                                                    with {
                                                                        'campo'     : 'fecha_fin',
                                                                        'formulario': 'frmreporte',
                                                                        'required'  : 'required'
                                                                    }
                                                    %}
                                                    <ul class="dropdown-menu" role="menu">
                                                        <datetimepicker
                                                            data-ng-model               ="fechaFin"
                                                            data-on-set-time            ="selectDatePicker(newDate, oldDate, 'fechaFin')"
                                                            data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'  }"
                                                        />
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <button
                                            class="btn btn-success btn-lg ng-scope"
                                            type="submit"
                                            id="btnGeneraRpt"
                                            ng-click="getReporteHorasAsignadas()"
                                            ng-disabled="deshabilitaFormulario()"
                                            >
                                            Generar
                                        </button>
                                        <button class="btn btn-lg" type="button" ng_click="cancelarLimpiar()" id="btnObjetivoCancelarActualizacion">
                                            Cancelar
                                        </button>
                                    </div>
                                </div><!-- END form-group col-sm-12-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <span ng-click        = "exportandoACSV()"
                csv-header      = "getHeaderCSV()"
                ng-csv          = "getDatosExportar()"
                {#Agregando funcion de getReporte#}
                {%verbatim%}
                filename        = "{{obtenerNombreReporte()}}"
                {%endverbatim%}
                field-separator = ","
            >
                <i class="fa fa-download cambiaestatus cursor-pointer"> </i>
                Exportar a CSV
            </span>
            <br>
            <div class="table-responsive" id="exportable" export-csv="csv">
                <table st-set-filter="customFilter"
                       st-table   ="datos_reporte"
                       id         ="searchTextResults"
                       on-filter ="readFilteredCollection"
                       st-safe-src="datos_reporte2"
                       class      ="table table-condensed table-striped table-hover table-bordered ">
                    <thead class="no-bd">
                        <tr>
                            <th colspan="14">
                                <input st-search="" class="form-control" placeholder="Buscar ..." type="text"/>
                            </th>
                        </tr>
                        <tr>
                            <th ng-repeat="cabecera in reporteSeleccionado.cabeceras"
                                ng-bind="cabecera.titulo"
                                {#verbatim#}
                                {%verbatim%}
                                st-sort="{{cabecera.llave}}"
                                {%endverbatim%}
                                ></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr align="center" ng-repeat="registro in datos_reporte">
                            <td data-as-sortable-item><span ng-bind="registro.nombre_centro                                  "></span></td>
                            <td data-as-sortable-item><span ng-bind="registro.nombre_facilitador                             "></span></td>
                            <td data-as-sortable-item><span ng-bind="registro.email"></span></td>
                            <td ng-if="reporteSeleccionado.tipo_rpt == 1" data-as-sortable-item><span ng-bind="registro.actividad"></span></td>
                            <td ng-if="reporteSeleccionado.tipo_rpt == 1" data-as-sortable-item><span ng-bind="registro.categoria_actividad"></span></td>
                            <td ng-if="reporteSeleccionado.tipo_rpt == 1" data-as-sortable-item><span ng-bind="registro.clave_grupo"></span></td>
                            <td ng-if="reporteSeleccionado.tipo_rpt == 1" data-as-sortable-item><span ng-bind="registro.estatus_grupo"></span></td>
                            <td data-as-sortable-item><span ng-bind="registro.duracion_hrs                                   "></span></td>
                            <td data-as-sortable-item><span ng-bind="registro.estatus_facilitador                            "></span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}