{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}


    <div >
        <b class           = "modal-title verde"
        data-ng-bind   = "ofertaActividad.actividad.nombre"></b>
    </div>
    <div ng-show = "tipoFormEvento != 'nuevo'"
         >
        <h4 class           =   "modal-title verde float-left"
            data-ng-bind    =   "ofertaActividad.clave_grupo"
            ></h4>
        <h4 class           =   "modal-title verde float-right"
            data-ng-bind    =   "'Actividad del ' + ofertaActividad.fecha_inicio +' al ' + ofertaActividad.fecha_final"
            ></h4>
       <br/>
       <h4 class           =   "modal-title verde float-right"
            data-ng-bind    =   "'Fecha sesión:         ' + ofertaActividad.fechaEvento.format('YYYY-MM-DD, h:mm a') "
        ></h4>
   </div>
    <div ng-show = "tipoFormEvento == 'nuevo'">
         <h4 class           =   "modal-title verde float-right"
            data-ng-bind    =   "'Fecha evento:         ' + ofertaActividad.fecha_inicio"
            ></h4>
    </div>

    <div class ="contenedor-incritos"  >


            <a class           = "verde link float-right cursor-pointer link-subrayado"
                ng-if           = "tipoEvento == 'calendarizacion'"
                ng-click        = "cambiarModal()"
                >
                <span ng-if ="modalActivo == 'evento'" >Ver preinscritos e inscritos</span>
                <span ng-if ="modalActivo == 'interesadosInscritos'" >Regresar</span>
           </a>

    </div>

{%endblock tituloModal %}

{%block controllerModal %}
    ng-controller="eventoCtrl"
    ng-init="init('{{tipoCalendario}}',
                                       {
                                        username : '{{app.user.username}}',
                                        nombre   : '{{app.user.nombre}}',
                                        rol : '{% for rol in app.user.roles %}{{ rol }}{% if loop.index < app.user.roles|length %},{%else %}{% endif %}{% endfor %}',
                                        apellidopaterno : '{{app.user.apellidoPaterno}}',
                                        apellidopaterno : '{{app.user.apellidoMaterno}}'
                                        })"
{% endblock controllerModal %}
{% block contenidoModal  %}
    {#}{% if (is_granted('ROLE_SOLO_LECTURA') == true)
          or is_granted('ROLE_SOLO_LECTURA_CALENDARIZACION')
          or is_granted('ROLE_SOLO_LECTURA_OFERTAEDUCATIVA')
          %}{#}
    {% if validaRuta('calendarizacion_modal_eventos_solo_lectura') == 'permitido'%}
        {%verbatim%}
        {{tipoFormEvento='soloLectura';""}}
        {%endverbatim%}
    {% endif %}
    <div ng-show = "modalActivo == 'evento'">
        <div>
            <div class="form-group"
                 ng-if    = "ofertaActividad.evento_actividad == ''
                             && tipoFormEvento != 'nuevo'">
                Modificar por:
                          <select name          = "evento_actividad"
                                  class         = "form-control"
                                  ng-model      = "ofertaActividad.evento_actividad"
                                  required      = "required"
                                  ng-change     = "tipoEventoActividad()"
                                  >
                              <option value="" selected></option>
                              <option value="actividad">Todos las sesiones de esta actividad</option>
                              <option value="evento">Solo esta sesión</option>
                              <option value="eventoYSiguientes">Esta sesión y las siguientes</option>
                          </select>
            </div>
        </div>

        <div role     = "tabpanel"
             ng-if    = "ofertaActividad.evento_actividad != ''">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" >

                <li ng-repeat       = "tab in tabsEvento"
                    ng-show         = "mostrarElemento(tab.clave)"
                    ng-click        = "onClickTab(tab.clave)"
                    ng-class        = "{'active' : tab.clave == currentTab}"
                    >
                    <a data-ng-bind    = "tab.nombre"></a>
                </li>
            </ul>

              <!-- Tab panes -->
              <div class    = "tab-content" >
                  {#para verbatim#}
                  <h3 ng-if         = "ocultaElementoEvento.soloLectura"
                          class         = "bg-warning text-center fomulario-solo-lectura"
                          >Sección solo de lectura</h3>
                  <h3  class         = "bg-info text-center fomulario-solo-lectura"
                      >
                      <p ng-if         = "actividadIniciada()">
                          La actividad ha iniciado
                      </p>

                      <p ng-if = "!eventoFactory.fechaEventoModificable"
                            data-ng-bind = "eventoFactory.mensajes.fechaLimite()">
                      </p>
                  </h3>

                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/01_rutaActividad.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/02_fechaInicioFechaFin.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/03_esquema.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/04_horario.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/05_horarioEvento.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/06_aulas.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/07_facilitador.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabs/08_fechaDesplazamiento.html.twig"%}

              </div>

        </div>
    </div>
    <div ng-show = "modalActivo == 'interesadosInscritos'">
        <div role     = "tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" >
                <li ng-repeat       = "tab in tabsDetalle"
                    ng-show         = "mostrarElemento(tab.clave)"
                    ng-click        = "onClickTabDetalle(tab.clave)"
                    ng-class        = "{'active' : tab.clave == currentTabDetalle}"
                    >
                    <a data-ng-bind    = "tab.nombre"></a>
                </li>
            </ul>

              <!-- Tab panes -->
              <div class    = "tab-content" >
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabsDetalle/01_interesados.html.twig"%}
                {% include "ControlEscolarCalendarioBundle:comun:modals/evento/tabsDetalle/02_inscritos.html.twig"%}
              </div>

        </div>
    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Cerrar
    </button>
    <button type            = "button"
            class           = "btn btn-rojo"
            ng-if           = "tipoFormEvento == 'editar'
                                && tipoEvento == 'ofertaEducativa'
                                && ofertaActividad.puede_publicar != true
                                "
            ng-click        = "eliminarActividad()"
            >
        Eliminar
    </button>
{%endblock textoCancelar%}

{%block btnAceptar %}
    {#}{% if (
            is_granted('ROLE_SOLO_LECTURA') != true
           and is_granted('ROLE_SOLO_LECTURA_CALENDARIZACION') != true
           and is_granted('ROLE_SOLO_LECTURA_OFERTAEDUCATIVA') != true
           )
    %}{#}
   {% if validaRuta('calendarizacion_modal_eventos_solo_lectura') == 'negado'%}
    <button type        = "button"
            class       = "btn btn-verde"
            ng-click    = "guardarEvento()"
            ng-if       = "ocultaElementoEvento.eventoBtn.btnAgregarModificar"
            ng-disabled = "!eventoValido()"
            >
        <span ng-if ="ocultaElementoEvento.eventoBtn.nuevo" >Agregar</span>
        <span ng-if ="ocultaElementoEvento.eventoBtn.calendarizar" >Calendarizar</span>
        <span ng-if ="ocultaElementoEvento.eventoBtn.modificarDatos" >Modificar datos</span>
    </button>

    <button type            = "button"
            class           = "btn btn-rojo"
            ng-disabled     = "ocultaElementoEvento.eventoBtn.eliminarDeshabilitar"
            ng-if           = "ocultaElementoEvento.eventoBtn.eliminarMostrar"
            ng-click        = "eliminarActividadCentro()"
            >
        Eliminar
    </button>

    <button type            = "button"
            class           = "btn btn-rojo"
            ng-disabled     = "ocultaElementoEvento.eventoBtn.cancelarDeshabilitar"
            ng-if           = "ocultaElementoEvento.eventoBtn.cancelarMostrar"
            ng-click        = "cancelarActividadCentro()"
            >
        Cancelar actividad
    </button>
    {% endif %}
{%endblock btnAceptar%}