{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}
   
{%endblock tituloModal %}

{%block controllerModal %}

{%endblock controllerModal %}

{% block contenidoModal  %}
              <h4
                  class         = "bg-info text-center fomulario-solo-lectura"
                  >
                No existen días no laborables registrados para este año
              </h4>

{% endblock contenidoModal %}

 {%block btnAceptar %}
       
 {%endblock btnAceptar%}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Aceptar
    </button>

{%endblock textoCancelar%}