<div class="form-panel">
    <form class="style-form form-horizontal" method="get">

        <h4 class="mb"><b>Datos del Centro:</b></h4>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Nombre:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.nombre'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Clave:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.clave'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Teléfono:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.telefono'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Teléfono 2:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.telefono2'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Código Postal:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.codigo_postal'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Latitud:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.latitud'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Longitud:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='centroInput.longitud'>
            </div>
        </div>       
        
        
        <div class="form-group">
            
            <label class="col-sm-4 col-sm-4 control-label"><b>Hora de Apertura:</b></label>
                <div class="col-sm-6">
            <div class='input-group date' id='datetimepicker1' ng-model='centroInput.hora_apertura'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                    </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'HH:mm',
                    
                    defaultDate:horaAperturaCentro
                });
            });
        </script>
        </div>
        
        
        <div class="form-group">
            
            <label class="col-sm-4 col-sm-4 control-label"><b>Hora de Cierre:</b></label>
                <div class="col-sm-6">
            <div class='input-group date' id='datetimepicker2' ng-model="centroInput.hora_cierre">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                    </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'HH:mm',
                    defaultDate:horaCierreCentro
                });
            });
        </script>
        </div>        
        
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Dirección:</b></label>
            <div class="col-sm-6">
                <textarea style="resize: none;" class="form-control" rows="5" ng-model='centroInput.direccion'></textarea>
            </div>
        </div>
        <br>
        <center>
            <button type="button" class="btn  btn-primary btn-lg btn-theme03" ng-click='almacenarCentro(centroInput)'><i class="fa fa-2x fa-floppy-o"></i> Guardar </button>
            <button type="button" class="btn  btn-clear-g btn-lg btn-theme" ng-click='limpiarCentro(centroInput)'><i class="fa fa-2x fa-times"></i> Limpiar</button>
        </center>

    </form>
</div>   
        
        