{% extends "base.html.twig" %}

{% block javascript %}
{% endblock javascript %}

{%block title %}Movimientos{% endblock title %}

{%block content %}

	<br>

	<h2>
		<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Movimientos
	</h2>

	<div class="panel panel-default">

 		<div class="panel-heading">
 			<strong>Movimientos por centro</strong>
 		</div>

  		<div class="panel-body">

			<div class="row">
  				<div class="col-md-6"></div>
  				<div class="col-md-6">
  					<p>
  						<input class="form-control input-lg" type="text" placeholder="Buscar">
  					</p>
  				</div>
			</div>

			<div class="table-responsive">
        		<table class="table table-striped table-bordered table-condensed">

            		<tr>
            			<td>
            				<strong>CENTRO</strong>
            			</td>
            			<td>
            				<strong># DE MOVIMIENTOS</strong>
            			</td>
           			
            		</tr>

            		<tr>
            			<td>
            				CMC Estado de México
            			</td>
            			<td>
            				<span class="badge badge-rojo">30</span>
            			</td>
          			
            		</tr>

            		<tr>
            			<td>
            				CMS Zacatecas
            			</td>
            			<td>
            				<span class="badge badge-naranja">20</span>
            			</td>
            			
            		</tr>

            		<tr>
            			<td>
            				CMS Aguascalientes
            			</td>
            			<td>
            				<span class="badge badge-amarillo">15</span>
            			</td>
            			
            		</tr>            		


            		<tr>
            			<td>
            				CMS Nuevo Leon
            			</td>
            			<td>
            				<span class="badge badge-verde">10</span>
            			</td>
           			
            		</tr>

            		<tr>
            			<td>
            				CMC Baja California
            			</td>
            			<td>
            				<span class="badge badge-agua">5</span>
            			</td>
            			
            		</tr>    		

            		<tr>
            			<td>
            				CMC Yucatan
            			</td>
            			<td>
            				<span class="badge badge-azul">0</span>
            			</td>
            			
            		</tr>

            	</table>
           	</div>

  		</div>

	</div>


	<div class="panel panel-default">

 		<div class="panel-heading">
 			<strong>Movimientos por centro</strong>
 		</div>

  		<div class="panel-body">

  			<h4 class="verde">
  				CMC Estado de México
  			</h4>

			<div class="table-responsive">
        		<table class="table table-striped table-bordered table-condensed">

            		<tr>
            			<td>
            				<strong>ACTIVIDAD</strong>
            			</td>
            			<td>
            				<strong>USUARIO</strong>
            			</td>
            			<td>
            				<strong>GRUPO</strong>
            			</td>
            			<td>
            				<strong>MOVIMIENTO</strong>
            			</td>
            			<td>
            				<strong>FECHA</strong>
            			</td>
            			<td>
            				<strong>HORA</strong>
            			</td>            			
            		</tr>

            		<tr>
            			<td>
            				Expedición RIA
            			</td>
            			<td>
            				Sofía Camacho
            			</td>
            			<td>
            				# del grupo
            			</td>
            			<td>
            				Cambio de horario
            			</td>
            			<td>
            				18 de noviembre del 2014
            			</td>
            			<td>
            				8:00 AM
            			</td>            			
            		</tr>

            		<tr>
            			<td>
            				Expedición RIA
            			</td>
            			<td>
            				Sofía Camacho
            			</td>
            			<td>
            				# del grupo
            			</td>
            			<td>
            				Cambio de horario
            			</td>
            			<td>
            				18 de noviembre del 2014
            			</td>
            			<td>
            				8:00 AM
            			</td>            			
            		</tr>

            		<tr>
            			<td>
            				Expedición RIA
            			</td>
            			<td>
            				Sofía Camacho
            			</td>
            			<td>
            				# del grupo
            			</td>
            			<td>
            				Cambio de horario
            			</td>
            			<td>
            				18 de noviembre del 2014
            			</td>
            			<td>
            				8:00 AM
            			</td>            			
            		</tr>            		


            		<tr>
            			<td>
            				Expedición RIA
            			</td>
            			<td>
            				Sofía Camacho
            			</td>
            			<td>
            				# del grupo
            			</td>
            			<td>
            				Cambio de horario
            			</td>
            			<td>
            				18 de noviembre del 2014
            			</td>
            			<td>
            				8:00 AM
            			</td>            			
            		</tr>

            		<tr>
            			<td>
            				Expedición RIA
            			</td>
            			<td>
            				Sofía Camacho
            			</td>
            			<td>
            				# del grupo
            			</td>
            			<td>
            				Cambio de horario
            			</td>
            			<td>
            				18 de noviembre del 2014
            			</td>
            			<td>
            				8:00 AM
            			</td>            			
            		</tr>            		

            	</table>
           	</div>

		</div>
	</div>

{% endblock content %}