<!-- Modal mensaje generico -->
<div aria-hidden="true" aria-labelledby="Mensaje de Dialogo" role="dialog" tabindex="-1" id="customModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id='modalHeader' ng-show="modal.header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-show="modal.botonClose">&times;</button>
                <h4 class="modal-title" ng-show="modal.titulo">{{modal.tituloContent}}</h4>
            </div>
            <div class="modal-body" ng-show="modal.body">
                {{modal.bodyContent}}
            </div>
            <div class="modal-footer" ng-show="modal.footer">
                <button type="button" class="btn btn-default" id='botonCancelar' data-dismiss="modal" ng-show="modal.botonCancelar" ng-click='modal.callbackBotonCancelar()'>{{modal.mensajeBotonCancelar}}</button>
                <button type="button" class="btn btn-primary" id='botonAceptar' ng-show="modal.botonAceptar" ng-click='modal.callbackBotonAceptar()'>{{modal.mensajeBotonAceptar}}</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal mensaje generico -->