<h2 class="form-login-heading">Ingreso al S.A.C.C.</h2>
<div class="login-wrap">
    <input type="text" class="form-control" placeholder="Usuario" autofocus ng-model="usuarioInput.usuario">
    <br>
    <input type="password" class="form-control" placeholder="Contraseña" ng-model="usuarioInput.password">
    <label class="checkbox">
        <span class="pull-right">
            <a data-toggle="modal" href="#recuperacionPassword"> Olvide mi contraseña</a>

        </span>
    </label>
    <button class="btn btn-theme btn-block" ng-click="loginAcceso()"><i class="fa fa-lock"></i> Entrar al sistema</button>
    <hr>

    <div class="registration">
        No tienes una cuenta aún?<br/>
        <a data-toggle="modal" href="#registroSistema">
            Crea una cuenta
        </a>
    </div>

</div>