<div aria-hidden="true" aria-labelledby="Nuevo registro" role="dialog" tabindex="-1" id="registroSistema" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registro de nuevo aspirante a beca</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal style-form" >
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Nombre(s):</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre" ng-model="registroUsuario.nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Apellido paterno:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apellido_paterno" ng-model="registroUsuario.apellido_paterno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Apellido materno:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apellido_materno" ng-model="registroUsuario.apellido_materno">
                        </div>
                    </div>
                    <label class="col-sm-2 col-sm-2 control-label">Sexo:</label>
                    <div class="form-group">

                        <div class="radio col-sm-3">
                            <label>
                                <input type="radio" name="optionsRadios" id="masculino" value="masculino" ng-click="sexoRegistroUsuario(true)">
                                Masculino
                            </label>
                        </div>
                        <div class="radio col-sm-3">
                            <label>
                                <input type="radio" name="optionsRadios" id="femenino" value="femenino" ng-click="registroSexoUsuario(false)">
                                Femenino
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Boleta:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="boleta" ng-model="registroUsuario.boleta">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" ng-model="registroUsuario.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Usuario:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="usuario" ng-model="registroUsuario.usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Contraseña:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" ng-model="registroUsuario.pass">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Semestre:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="registroUsuario.semestre" ng-options="s.id as s.nombre for s in semestres">
                                <option value="" >Selecciona un semestre...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Especialidad:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="registroUsuario.especialidad_id"  ng-options="e.id as e.nombre for e in especialidades">
                                <option value="" >Selecciona una especialidad...</option>
                            </select>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-theme" type="button" ng-click="crearUsuario(registroUsuario)">Crear cuenta</button>
            </div>
        </div>
    </div>
</div>