<!-- Modal recuperación de contraseña -->
<div aria-hidden="true" aria-labelledby="Recuperación contraseña" role="dialog" tabindex="-1" id="recuperacionPassword" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Olvidaste tu contraseña?</h4>
            </div>
            <div class="modal-body">
                <p>Escribe tu email para enviar las instrucciones de recuperación a tu cuenta.</p>
                <input type="text" name="email" placeholder="Escribe tu email" autocomplete="off" class="form-control placeholder-no-fix">

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-theme" type="button">Enviar contraseña</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal recuperación de contraseña -->