<div ng-init="init()">
    <h3 class="mb"><i class="fa fa-angle-right"></i>{{pagina.titulo}}</h3>
    <div ng-include src="'frontend/views/core/forms/usuario/usuario.html'">
    </div>
    <!-- Modal datos-->
    <div ng-include src="'frontend/views/modals/custom_modal.html'">
    </div>
    <!-- Modal datos-->
</div>