{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/fullcalendar/fullcalendar/dist/fullcalendar.css')}}">
    <!-- Datepicker -->

    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/datepicker/css/datetimepicker.css')}}">

    <!--  Fin datepicker -->
<style>
    .datepicker{z-index:3000 !important;}
</style>
    {% block cssPage %}
    {% endblock cssPage %}
{% endblock css %}
 
{% block javascript %}
    {#<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>#}
        <script type="text/javascript" src="{{ asset('plugins/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/moment.min.js')}}"></script>
   <!-- Datepicker -->
        <script type="text/javascript" src="{{ asset('plugins/datepicker/js/datetimepicker.js') }}"></script>
<!-- Datepicker -->
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/fullcalendar/dist/fullcalendar.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/fullcalendar/dist/gcal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/angular/calendar.js')}}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarioApp.js')                }}"></script>    
    
    {% block javascriptPage %}
    {% endblock javascriptPage %}
{% endblock javascript %}
    
{%block title %} Resumen Actividades académicas{% endblock title %}

{%block content %}

    <!--<div class="tab-content">-->
        {%block contentPage %}
        {% endblock contentPage %}
    <!--</div>-->
    
    
    <!--<div class="tab-content">-->
        {%block contentModals %}
        {% endblock contentModals %}
    <!--</div>-->
{% endblock content %}

{% block smarttable %}
    <script type="text/javascript" src="{{ asset('plugins/smart-table/smart-table2-1.js')}}"></script>
{%  endblock smarttable %}