{% extends "ControlEscolarActividadAcademicaBundle::baseActividadAcademica.html.twig" %}
{% block ngapp %}calendarDemoApp{%  endblock ngapp %}

{% block css %}

    
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/fullcalendar/fullcalendar/dist/fullcalendar.css')}}">
    {#<link rel="stylesheet" type="text/css" href="{{ asset('plugins/fullcalendar/fullcalendar.css')}}">#}

{% endblock css%}

{% block javascriptpage %}

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/moment.min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/fullcalendar/dist/fullcalendar.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/fullcalendar/dist/gcal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/angular/calendar.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/angular/calendarDemo.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/calendar.js')}}">
      
{% endblock javascriptpage %}

{%block title %}
    Calendarización
{% endblock title %}

{%block contentPage %}
{% verbatim %}

<div role="main">

    <div class="container">
        <section id="directives-calendar" class="col-md-9 p-0 no-bd" ng-controller="CalendarCtrl">
            <div class="page-header">
                <h1>UI-Calendar</h1>
            </div>
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="btn-group calTools">
                          <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                            Toggle Source
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="addEvent()">
                            Add Event
                          </button>
                        </div>
                
{% endverbatim %}
    {#
                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> <input ng-model="e.title"></b> 
                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>
                #}
 {% verbatim %}                       
<b> <input ng-model="evento.title" type="text"></b> 
                    </div>

                    <div class="span8">
                        <tabset>
                            <tab select="renderCalender('myCalendar1');">
                              <tab-heading>
                               <i class="glyphicon glyphicon-bell"></i> Calendar One
                              </tab-heading>
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Calendar One View Options</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                            
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                            
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                           <tab select="renderCalender('myCalendar2');">
                            <tab-heading>
                              <i class="glyphicon glyphicon-bell"></i> Calendar Two
                            </tab-heading>
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Calendar Two View Options</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar2')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar2')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar2')">Month</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar2" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                           <tab select="renderCalender('myCalendar3');">
                            <tab-heading>
                              <i class="glyphicon glyphicon-bell"></i> Calendar Three
                            </tab-heading>
                              <div class="alert-success calAlert">
                                <h4>This calendar uses the extended form</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Calendar Three View Options</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Month</button>
                                </div>
                              </div>
                               
                            <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endverbatim %}
{%endblock contentPage %}

