{% extends "ControlEscolarActividadAcademicaBundle::baseActividadAcademica.html.twig" %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/fullcalendar/fullcalendar.css')}}">

{% endblock css%}

{% block javascriptpage %}

    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/moment.min.js')}}">
    </script>

    <script type="text/javascript" src="{{ asset('plugins/fullcalendar/fullcalendar.js')}}">
    </script>

    <script type="text/javascript" src="{{ asset('js/calendar.js')}}">
    </script>

{% endblock javascriptpage %}

{%block title %}
    Calendarización
{% endblock title %}

{%block contentPage %}

    <!-- BEGIN MAIN CONTENT -->
    <div id="main-content">


    	<!--inicio:eventos-->
		{% include "ControlEscolarCalendarioBundle:comun:modals/eventos.html.twig"
			with{
				'idModal' : "idModalEventos",
	            'tipoModal' : "modal-dialog",
	            'btnCerrar' : "true",
                    'tipoCalendario': "ofertaEducativa"
	        }
	    %}
	    <!--fin:eventos-->

	    <!--inicio:actividades-->
		{% include "ControlEscolarCalendarioBundle:maquetasSinUsar:modals/actividades.html.twig"
			with{
				'idModal' : "idModalActividades",
	            'tipoModal' : "modal-dialog",
	            'btnCerrar' : "true"
	        }
	    %}
	    <!--fin:actividades-->

    	<!--inicio:cancelacion-->
		{% include "ControlEscolarCalendarioBundle:maquetasSinUsar:modals/cancelacion.html.twig"
			with{
				'idModal' : "idModalCancelacion",
	            'tipoModal' : "modal-dialog",
	            'btnCerrar' : "true"
	        }
	    %}
	    <!--fin:cancelacion-->

    	<!--inicio:interesados-->
		{% include "ControlEscolarCalendarioBundle:maquetasSinUsar:modals/interesados.html.twig"
			with{
				'idModal' : "idModalInteresados",
	            'tipoModal' : "modal-dialog",
	            'btnCerrar' : "true"
	        }
	    %}
	    <!--fin:interesados-->

        <div class="widget-fullwidth bg-gray-light row">
            <div class="col-md-3 p-0">
                <div class="widget bg-gray-light">
                    <div class="widget-body">
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <h2 class="text-white semi-bold" id="calender-current-day">
                                	<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>12/NOV/2014
                                </h2>

								<div class="alert alert-danger" role="alert">
									<button type="button" class="close" data-dismiss="alert">
									  <span aria-hidden="true">&times;</span>
									  <span class="sr-only">Close</span>
									</button>
									Primero que nada tienes que seleccionar tu periodo antes de empezar agregar actividades.
								</div>

                                <div id='external-events'>


									<input class="form-control" type="text" placeholder="Periodo">
									<br><br>
									<input class="form-control" type="text" placeholder="Filtro por centros">

									<br><br>

									<div class="panel panel-default">
								  		<div class="panel-body text-centera">

							    			<h1 class="verde">50 %</h1>

							    			<p class="verde">
							    				Total de actividades agregadas
							    			</p>

								  		</div>
									</div>


							    	    <table class="table-condensed" style="background:#FFFFFF;">
							                <thead>
							                    <tr>
							                      <th colspan="7">
							                      	<center>
							                        <span class="glyphicon glyphicon-chevron-left"></span>
							                        	Noviembre 2014
							                        <span class="glyphicon glyphicon-chevron-right"></span>
							                        </center>
							                      </th>
							                    </tr>
							                    <tr>
							                        <th>Su</th>
							                        <th>Mo</th>
							                        <th>Tu</th>
							                        <th>We</th>
							                        <th>Th</th>
							                        <th>Fr</th>
							                        <th>Sa</th>
							                    </tr>
							                </thead>
							                <tbody>
							                    <tr>
							                        <td class="muted">29</td>
							                        <td class="muted">30</td>
							                        <td class="muted">31</td>
							                        <td>1</td>
							                        <td>2</td>
							                        <td>3</td>
							                        <td>4</td>
							                    </tr>
							                    <tr>
							                        <td>5</td>
							                        <td>6</td>
							                        <td>7</td>
							                        <td>8</td>
							                        <td>9</td>
							                        <td>10</td>
							                        <td>11</td>
							                    </tr>
							                    <tr>
							                        <td>12</td>
							                        <td>13</td>
							                        <td>14</td>
							                        <td>15</td>
							                        <td>16</td>
							                        <td>17</td>
							                        <td>18</td>
							                    </tr>
							                    <tr>
							                        <td>19</td>
							                        <td><strong>20</strong></td>
							                        <td>21</td>
							                        <td>22</td>
							                        <td>23</td>
							                        <td>24</td>
							                        <td>25</td>
							                    </tr>
							                    <tr>
							                        <td>26</td>
							                        <td>27</td>
							                        <td>28</td>
							                        <td>29</td>
							                        <td class="muted">1</td>
							                        <td class="muted">2</td>
							                        <td class="muted">3</td>
							                    </tr>
							                </tbody>
							            </table>



									<br><br>

									<button type="button" class="btn btn-negro btn-block">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Actividad
									</button>

									<button type="button" class="btn btn-negro btn-block">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Enviar a Centros
									</button>

									<button type="button" class="btn btn-negro btn-block">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Publicar Calendario de centro
									</button>

									<br>

									<p>
										<span class="glyphicon glyphicon-th" aria-hidden="true"></span> Actividad Academica
									</p>

									<p>
										<span class="glyphicon glyphicon-th" aria-hidden="true"></span> Actividad no Academica
									</p>

									<p>
										<span class="glyphicon glyphicon-th" aria-hidden="true"></span> Actividad con ruta
									</p>

									<!--inicio modales:borrar-->
									<div data-toggle="modal" data-target="#idModalEventos">
										eventos
									</div>

									<div data-toggle="modal" data-target="#idModalActividades">
										actividades
									</div>
									<div data-toggle="modal" data-target="#idModalCancelacion">
										cancelacion
									</div>
									<div data-toggle="modal" data-target="#idModalInteresados">
										Preinscritos
									</div>
									<!--fin modales:borrar-->

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 p-0 no-bd">
                <div class="widget bg-white">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

{%endblock contentPage %}

