<div class="form-panel">
    <form class="style-form form-horizontal" method="get">

        <h4 class="mb"><b>Datos del Usuario:</b></h4>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Nombre:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='usuarioInput.nombre'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Apellido paterno:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='usuarioInput.apellido_paterno'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Apellido materno:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='usuarioInput.apellido_materno'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Multicentro:</b></label>
            <div class="col-sm-2">
                <input type="checkbox" class="form-control" ng-model='usuarioInput.multicentro'>
            </div>
        </div>
        <div class="form-group" ng-show="mostrarCampoCentro()">
            <label class="col-sm-4 col-sm-4 control-label"><b>Centro:</b></label>
            <div class="col-sm-6">
                <select ng-model="usuarioInput.centro_id" ng-options="centro.id as centro.nombre for centro in centros">
                    <option  value="">---Selecciona un centro---</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Usuario:</b></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model='credencialInput.usuario'>
            </div>
        </div>    
        <div class="form-group">
            <label class="col-sm-4 col-sm-4 control-label"><b>Password:</b></label>
            <div class="col-sm-6">
                <input type="password" class="form-control" ng-model='credencialInput.pwd'>
            </div>
        </div>   
        <div class="form-group" ng-show="mostrarCampoPerfil()">
            <label class="col-sm-4 col-sm-4 control-label"><b>Perfil</b></label>
            <div class="col-sm-6">
                <select ng-model="usuarioInput.centro_id" ng-options="centro.id as centro.nombre for centro in centros">
                    <option  value="">---Selecciona un perfil de usuario---</option>
                </select>
            </div>
        </div>
        <br>
        <center>
            <button type="button" class="btn  btn-primary btn-lg btn-theme03" ng-click='almacenarUsuario(usuarioInput,credencialInput)'><i class="fa fa-2x fa-floppy-o"></i> Guardar </button>
            <button type="button" class="btn  btn-clear-g btn-lg btn-theme" ng-click='limpiarUsuario(usuarioInput,credencialInput)'><i class="fa fa-2x fa-times"></i> Limpiar</button>
        </center>

    </form>
</div>   