{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    <p class="verde">
        Miercoles 12 de Noviembre, 2014 
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 8:00 AM a 10:00 AM
    </p>
    
{%endblock tituloModal %}

{% block contenidoModal  %}
   
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
                <a href="#ruta3" aria-controls="ruta3" role="tab" data-toggle="tab">
                    Ruta/Actividad
                </a>
            </li>

            <li role="presentation">
                <a href="#esquema3" aria-controls="esquema3" role="tab" data-toggle="tab">
                    Esquema
                </a>
            </li>

            <li role="presentation">
                <a href="#dia_horario3" aria-controls="dia_horario3" role="tab" data-toggle="tab">Día/Horario</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="ruta3">

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <select class="form-control input-lg">
                                <option value="1">Selecciona tu ruta o actividad</option>
                                <option value="2">Actividad Académica</option>
                                <option value="3">Actividad No Académica</option>
                                <option value="4">Ruta</option>
                            </select>
                        </p>
                    </div>
                </div>

                <!--tabla para Actividades Académicas-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>   

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Inglés
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Descripción
                            </td>
                            <td data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Etiqueta
                            </td>                                                            
                            <td>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </td>
                            <td>
                                <div class="checkbox">                                    
                                    <input type="checkbox">                                    
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>                        

                    </table>
                </div>


                <!--tabla para Rutas-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">

                        <tr>
                            <td>
                                Expedición 1
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Expedición 2
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>   

                        <tr>
                            <td>
                                Expedición 3
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Expedición 4
                            </td>
  
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                Expedición 5
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>                        

                    </table>
                </div>


            </div>

            <div role="tabpanel" class="tab-pane" id="esquema3">


                <!--tabla para Rutas-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">

                        <tr>
                            <td>
                                HRS/DIAS/SEMANAS
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                HRS/DIAS/SEMANAS
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>   

                        <tr>
                            <td>
                                HRS/DIAS/SEMANAS
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                HRS/DIAS/SEMANAS
                            </td>
  
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>

                        <tr>
                            <td>
                                HRS/DIAS/SEMANAS
                            </td>

                            <td>
                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>                                
                            </td>                            
                        </tr>                        

                    </table>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="dia_horario3">
                
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">

                        <tr>

                            <td>

                                Lun

                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>
                            </td>

                            <td>

                                Mar

                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>
                            </td>

                            <td>

                                Mie

                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>

                            </td>

                            <td>

                                Jue

                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>
                            </td>

                            <td>

                                Vie

                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>
                            </td>

                            <td>

                                Sab

                                <div class="checkbox">
                                    <input type="checkbox">
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>                            

                        </tr>

                        <tr>
                            <td>
                                a
                            </td>

                            <td>
                                a
                            </td>

                            <td>
                                a
                            </td>                            

                            <td>
                                a
                            </td>

                            <td>
                                a
                            </td>

                            <td>
                                a
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>

                            <td>
                                <select>
                                    <option value="1">00:00</option>
                                </select> 
                            </td>                            

                        </tr>
                        

                    </table>
                </div>

            </div>
            
        </div>

    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}

    <!--
    <button type="button"
            class="btn btn-rojo"
            data-dismiss="modal">
        Cancelar Actividad
    </button>
    -->

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Cerrar
    </button>
{%endblock textoCancelar%}

{%block btnAceptar %}
    <button type="button"
            class="btn btn-verde"
            ng-disabled="puedeAgregarEstatus()">
        Agregar
    </button>
{%endblock btnAceptar%}