<div ng-controller  = "botonesCtrl"
     ng-init        = "init()"
     class          = "col-md-12 col-sm-12 col-xs-12 panel bloque-left"
     style          = "padding: 0px;">

    <div ng-if="ofertaEducativaFactory.tipoProgramacionCE == 'normal' ||
                ofertaEducativaFactory.tipoProgramacionCE == 'extemporanea'">
    <button type        = "button"
            class       = "btn btn-negro btn-block"
            ng-click    = "publicarOfertaEducativa()"
            ng-disabled = "puedaPublicar()"
            >
        <div ng-if="ofertaEducativaFactory.tipoProgramacionCE == 'normal'">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Publicar a centros
        </div>
        <div ng-if="ofertaEducativaFactory.tipoProgramacionCE == 'extemporanea'">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Publicar Extemporánea
        </div>

    </button>
    </div>
</div>