<div id             = 'external-events'
     ng-controller  = "escenarioCtrl"
     ng-init        = "init()"
     class          = "bloque-left">
    <div>

        <div class="form-group">
            <span >Seleccionar programación CE</span>
            <select name          = "oferta_educativa_id"
                    class         = "form-control"
                    ng-model      = "ofertaEducativaSeleccionada"
                    required      = "required"
                    ng-options    = "ofertaEducativa as ofertaEducativa.nombre for ofertaEducativa in ofertasEducativas track by ofertaEducativa.oferta_educativa_id"
                    ng-change     = "mostrarPorOfertaEducativa()"
                    ><option value=""></option></select>
        </div>

        <div class="form-group ">
            <span >Agregar actividades a:</span>
            <select name          = "tipo_actividad_id"
                    class         = "form-control"
                    ng-model      = "tipoEscenarioOferta"
                    required      = "required"
                    ng-options    = "escenario as escenario.nombre for escenario in tiposEscenario track by escenario.nombre"
                    ng-change     = "eligeTipoEscenario()"
                    ng-disabled   = "!ofertaEducativaSeleccionada || checkMostrarTodosLosEventos == true"
                >
                <option value=""></option>
            </select>
        </div>
        <div class=" form-group " >
            <div class="panel no-bd bd-3 panel-stat">
                <div class="col-md-10">
                    <span>Ver todos las sesiones <br>(Oferta solo de lectura)</span>
                </div>
                <div class="col-md-1">
                    <br>
                    <input type          = "checkbox"
                           ng-model      = "checkMostrarTodosLosEventos"
                           ng-change     = "mostrarTodosLosEventos()"
                           required >
                </div>
            </div>
        </div>

        <div class="panel no-bd bd-3 panel-stat" ng-if="!muestraEscenarios('todos')">
            <div class="col-md-12 pre-scrollable" >
                <table class="table table-striped table-bordered table-condensed">
                    <tr ng-if="muestraEscenarios('centro')">
                        <td colspan="2" class="fondo-negro">
                            Centros
                        </td>
                    </tr>
                    <tr ng-if       = "muestraEscenarios('centro')"
                        ng-repeat   = "centro in centros">
                        <td>
                            <span data-ng-bind="centro.nombre"></span>
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type         = "radio"
                                       ng-model     = "escenario_actual.id_individual"
                                       ng-value     = "centro.centro_id"
                                       ng-change    ="eligeEscenario('centro')"
                                       >
                            </div>
                        </td>
                    </tr>

                    <tr ng-if="muestraEscenarios('grupo')">
                        <td colspan="2" class="fondo-negro">
                            Grupos
                        </td>
                    </tr>
                    <tr ng-if       = "muestraEscenarios('grupo')"
                        ng-repeat   = "grupo in grupos">
                        <td>
                            <span data-ng-bind="grupo.nombre"></span>
                        </td>
                        <td>
                            <div class="checkbox">
                                <input type         = "radio"
                                       ng-model     = "escenario_actual.id_individual"
                                       ng-value     = "grupo.grupo_id"
                                       ng-change    ="eligeEscenario('grupo')"
                                       >
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
