{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}
{% block cssPage %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css')}}"><!--hector-->
{% endblock cssPage%}

{% block javascriptPage %}

<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/resumen/FileSaver.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ asset('plugins/ng-csv/ng-csv.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/resumen/services/resumenService.js') }}"></script>

<!--Servicios comunes -->
<script type="text/javascript" src="{{ asset('bundles/corecore/services/centroService.js')                                 }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/equivalenciaService.js')                                 }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>

<!--Controladores -->

<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/resumen/controllers/calendarizacionResumenCtrl.js')      }}"></script>

{% endblock javascriptPage %}

{%block title %}
    Resumen
{% endblock title %}

{%block contentPage %}
<div ng-controller="calendarizacionResumenCtrl" ng-init="initCentros()">
    <div id="main-content" class="form-page">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Reporte de Grupos
                </h2>
            </div>
        </div>
    </div>
    <div class="widget-fullwidth bg-gray-light row  p-40"
             >
            <h3>
		Seleccionar centro:
            </h3>
            <div class="col-md-12" class="form-page p-40">
                <select
                class       = "form-control  ng-valid"
                
                ng-options  = "centro as centro.nombre for centro in centrosRemotos track by centro.nombre"
                ng-model    = "centroSeleccionado"
                ng-change   = "eligiendoCentroFuente()"
                >
                </select>
                <input  ng-model="ipConsultada"
                        type="text" class="hidden"
                        name="ipConsultada" value=""/>
            </div>
            <br></br>
    </div>
    <div class="panel panel-default">

        <div class="panel-body">
     <span   ng-click   = "exportandoACSV()" 
             csv-header = "getHeaderCSV()" 
             ng-csv     = "collectionfiltered" 
             filename   = "reporte_grupos.csv" 
             field-separator= ",">
                    <i class="fa fa-download cambiaestatus cursor-pointer"> </i>
                    Exportar a CSV
     </span>
                <br>
            <div class="table-responsive" id="exportable">
                <table st-pipe      ="pipeReporteGrupos"
                        st-table    ="displayed"
                        id          ="searchTextResults"
                        
                        
                        

                       class       ="table table-condensed table-striped table-hover table-bordered ">
                    <thead class="no-bd">
                        <tr>
                            <th colspan="13">
                              <input
                                      ng-model      = "busqueda"
                                      placeholder   = "Buscar..."
                                      class         = "input-sm form-control"
                                      st-search     = ""
                                      />
                            </th>

                            <th>
                               <st-select-distinct collection="collection" 
                                   predicate="estatus_curso"></st-select-distinct>
                                
                            </th>
                        </tr>
                        <tr>
                            <th class="cursor-pointer">
                                Centro
                            </th>
                            <th st-sort="curso_nombre">
                                Curso
                            </th>
                            <th st-sort="clave_grupo">
                                Clave
                            </th>
                            <th st-sort="nombre_facilitador">
                                &Uacute;ltimo facilitador asignado
                            </th>
                            <th st-sort="aula_nombre">
                                Aula
                            </th>
                            <th st-sort="fecha_inicio">
                                Fecha inicio
                            </th>
                            <th st-sort="fecha_fin">
                                Fecha fin
                            </th>
                            <th width="50">
                                Lu
                            </th>
                            <th  width="50">
                                Ma
                            </th>
                            <th  width="50">
                                Mi
                            </th>
                            <th width="50">
                                Ju
                            </th>
                            <th width="50">
                                Vi
                            </th>
                            <th width="50">
                                Sa
                            </th>
                            <th>
                                Estatus
                            </th>
                        </tr>
                     
                    </thead>

                    <tbody>
                        <tr ng-repeat="ofertaEducativa in displayed"
                            >
                            <td><span ng-bind="centroSeleccionado.nombre"></span></td>
                            <td data-as-sortable-item><span ng-bind="ofertaEducativa.curso_nombre                             "></span></td>
                            <td data-as-sortable-item><span ng-bind="ofertaEducativa.clave_grupo                              "></span></td>
                            <td data-as-sortable-item><span ng-bind="ofertaEducativa.nombre_facilitador                       "></span></td>
                            <td data-as-sortable-item><span ng-bind="ofertaEducativa.aula_nombre                              "></span></td>
                            <td data-as-sortable-item align="center"><span ng-bind="ofertaEducativa.fecha_inicio | date : 'yyyy-MM-dd'       "></span></td>
                            <td data-as-sortable-item align="center"><span ng-bind="ofertaEducativa.fecha_fin    | date : 'yyyy-MM-dd'       "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.dia_Lu                                   "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.dia_Ma                                   "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.dia_Mi                                   "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.dia_Ju                                   "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.dia_Vi                                   "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.dia_Sa                                   "></span></td>
                            <td align="center"><span ng-bind="ofertaEducativa.estatus_curso                            "></span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="20" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages=""></div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>
{%endblock contentPage %}

{%block contentModals %}
    
{% endblock contentModals %}
