<form  class    = "form-horizontal"
                   name     = "formDiaFeriado"
                   data-parsley-validate
                   id       = "ofertaEducativaForm"
                   novalidate
                   role     = "form">


    <div class="form-group col-sm-5">
        <div class="" >

            <div class="dropdown">
                <input type      = "text"
                       id        = "ofertaEducativafecha_inicio"
                       name      = "fecha_inicio"
                       class     = "dropdown-toggle form-control input-lg"
                       ng-model = "diaFeriado.fecha"
                       {# para el angular#}
                       {% verbatim %}
                           value="{{diaFeriado.fecha}}"
                       {% endverbatim %}
                       required
                       placeholder  = "Fecha *"
                       id          = "dropdown1"
                       role        = "button"
                       data-toggle = "dropdown"
                       >

                {%
                                include "::Form/inputs.html.twig"
                                with {
                                    'campo'     : 'fecha_inicio',
                                    'formulario': 'formDiaFeriado',
                                    'required'  : 'required'
                                }
                %}




                <ul class="dropdown-menu" role="menu">
                    <datetimepicker
                        data-ng-model               ="diaFeriado.fecha"
                        data-on-set-time            ="selectDatePicker(newDate, oldDate)"
                        data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'  }"/>
                </ul>
            </div>
        </div>
    </div>



    <div class="form-group col-sm-7 pull-right">
        <div class="">
            <input type="text" name="nombre" id="nombre"  data-ng-trim="false"
            ng-trim="false" ng-model="diaFeriado.nombre"  ng-maxlength="100"
            placeholder="Nombre *"
            ng-minlength="10" class="form-control input-lg" required>
            <p ng-show  = "formDiaFeriado.nombre.$invalid && formDiaFeriado.nombre.$dirty"
               class    = "text-danger parsley-required"
               ng-show  = "formDiaFeriado.nombre.$invalid">
                Verifica el tamaño del texto, mínimo debe ser 10, máximo 100.
            </p>
        </div>
    </div>






    <div class="form-group col-sm-12">
        <div class="">
            <textarea  style="height: 50px;"  ng-model="diaFeriado.descripcion" placeholder="Descripci&oacute;n" class    = "form-control input-lg">
            </textarea>
        </div>
    </div>



    <div class="form-group col-sm-12">

                <button     class         ="btn btn-success btn-lg"
                            type          ="button"
                            ng_click      ="add()"
                            id            ="btnObjetivoAdd"
                            ng-if         ="tipoAccion==1"
                            ng-disabled   ="formDiaFeriado.$invalid">
                            Crear d&iacute;a no laborable
                    </button>
                    <button class         ="btn btn-info btn-lg"
                            type          ="button"
                            ng_click      ="update()"
                            id            ="btnObjetivoModificar"
                            ng-if         ="tipoAccion==2"
                            ng-disabled   ="formDiaFeriado.$invalid">
                            Modificar Datos
                    </button>
                    <button class        ="btn btn-lg"
                            type         ="button"
                            ng_click     ="inicializa()"
                            id           ="btnObjetivoCancelarActualizacion">
                        Cancelar
                    </button>
    </div>
</form>
