{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}

{% block cssPage %}

	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css')}}"><!--hector-->

{% endblock cssPage%}

{% block javascriptPage %}
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/diaFeriado/services/diaFeriadoService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/diaFeriado/controllers/diaFeriadoCtrl.js') }}"></script>
{% endblock javascriptPage %}

{%block title %}
    Calendarización
{% endblock title %}

{%block contentPage %}
<div ng-controller="diaFeriadoCtrl" ng-init="init()">
    <div id="main-content" class="form-page">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    D&iacute;as no laborables
                </h2>
            </div>
        </div>
    </div>
    <input type="hidden" id="ambiente" value="{{ambiente}}" />
{% if validaRuta('calendarizacion_crear_dias_feriados') == 'permitido' %}
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <div class="verde">
                        </div>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ include ("ControlEscolarCalendarioBundle:diaFeriado:diasFeriadosForm.html.twig", with_context = true) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table st-table   ="diasFeriados"
                       id         ="searchTextResults"
                       st-safe-src="diasFeriados2"
                       class      ="table table-condensed table-striped table-hover table-bordered ">
                    <thead class="no-bd">
                        <tr>
                            <th colspan="8">
                                <input st-search="" class="form-control input-lg" placeholder="Buscar ..." type="text"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="dia_feriado_id"  class="cursor-pointer" width="2%">   Id                  </th>
                            <th st-sort="fecha_inicio"    class="cursor-pointer" width="10%">   D&iacute;a no laborable </th>
                            <th st-sort="nombre"          class="cursor-pointer" width="40%">   Nombre             </th>
                            <th st-sort="descripcion"          class="cursor-pointer" width="40%">   Descripci&oacute;n </th>
    {% if validaRuta('calendarizacion_eliminar_dias_feriados') == 'permitido' or validaRuta('calendarizacion_editar_dias_feriados') == 'permitido' %}                   
                            <th width="100" colspan="2">   Opciones   </th>
    {% endif %}
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="diaFeriado in diasFeriados">
                            <td><span ng-bind="diaFeriado.dia_feriado_id"                                   ></span></td>
                            <td><span ng-bind="diaFeriado.fecha | date : format : longDate"                 ></span></td>
                            <td><span ng-bind="diaFeriado.nombre"                                           ></span></td>
                            <td><span ng-bind="diaFeriado.descripcion"                                      ></span></td>
                            <td colspan="2" ng-if="diaFeriado.corporativo && !corporativo"><center><strong><small>Solo lectura</small</strong></center></td>
        {% if validaRuta('calendarizacion_editar_dias_feriados') == 'permitido' %}
                            <td ng-if="!diaFeriado.corporativo || corporativo">
                                <button
                                         ng-if = "!diaFeriado.corporativo || corporativo"
                                         type        ="button"
                                         ng-disabled ="!diaFeriado.puede_publicar"
                                         class       ="btn btn-sm btn-icon  btn-success"
                                         ng-click    ="editaDiaFeriado(diaFeriado);">
                                        <i class="fa fa-pencil"></i>
                                </button>
                            </td>
        {% endif %}
        {% if validaRuta('calendarizacion_eliminar_dias_feriados') == 'permitido' %}
                            <td ng-if="!diaFeriado.corporativo || corporativo">
                                <button
                                         ng-if = "!diaFeriado.corporativo || corporativo"
                                         type        ="button"
                                         ng-disabled ="!diaFeriado.puede_publicar"
                                         class       ="btn btn-sm btn-icon  btn-danger"
                                        ng-click     ="remove(diaFeriado);">
                                        <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
        {% endif %}
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>
{%endblock contentPage %}

{%block contentModals %}

{% endblock contentModals %}
