<div>
    <div class="panel no-bd bd-3 panel-stat" >
        <datetimepicker  data-ng-model="data.date"  data-datetimepicker-config="{ startView:'day', minView:'day' }" /></datetimepicker>
    </div>


    <h2 style="padding: 0px; width: 100%;"><i class="fa fa-graduation-cap referencia"></i> Actividad Académica</h2>
    <h2 style="padding: 0px; width: 100%;"><i class="fa fa-cog referencia"></i> Actividad no Académica</h2>
    <h2 style="padding: 0px; width: 100%;"><i class="fa fa-car referencia"></i> Actividad con ruta</h2>
    <h2 style="padding: 0px; width: 100%;"><i class="fa fa-home referencia"></i> Escenario Todos</h2>
    <h2 style="padding: 0px; width: 100%;"><i class="fa fa-group referencia"></i> Escenario Grupo</h2>
    <h2 style="padding: 0px; width: 100%;"><i class="fa fa-male referencia"></i> Escenario Centro</h2>

</div>