{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}
   <b class           = "modal-title verde" 
        data-ng-bind   = "ofertaActividad.actividad.nombre"></b>
    <h4 class           =   "modal-title verde" 
        data-ng-bind    =   "ofertaActividad.fechaEvento.format('MMMM Do YYYY, h:mm a')"
        ></h4>
{%endblock tituloModal %}

{%block controllerModal %}
    ng-controller="eventoCtrl" ng-init="init()"
{%endblock controllerModal %}


{% block contenidoModal  %}
    <h3 ng-if   ="tipoFormEvento == 'soloLectura'"
        class   ="bg-warning text-center fomulario-solo-lectura" >
                           Formulario solo de lectura
    </h3>
    
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" >
            {#<li role="presentation">
                <a href="#ruta" aria-controls="ruta" role="tab" data-toggle="tab">Ruta</a>
            </li>#}
            
            <li ng-repeat       = "tab in tabsEvento"
                ng-show         = "mostrarElemento(tab.clave)"
                ng-click        = "onClickTab(tab.clave)"
                ng-class        = "{'active' : tab.clave == currentTab}"
                >
                <a data-ng-bind    = "tab.nombre"></a>
            </li>
            
        </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              <div class    = "tab-pane active" 
                   id       = "actividad"
                   ng-show  ="currentTab == 'rutaActividad'"
                   >
                  {#%verbatim%#}
                  {%verbatim%}
                  <div class="form-group">
                      <select name          = "tipo_actividad_id" 
                              class         = "form-control" 
                              ng-model      = "ofertaActividad.tipoOferta"
                              required      = "required"
                              ng-options    = "tipo_oferta.clave as tipo_oferta.nombre for tipo_oferta in tiposOferta"
                              ng-disabled   = "tipoFormEvento == 'soloLectura'"
                              ng-change     = "reiniciaEsquemaHorario()"
                              >
                          <option value="">Elegir opción</option>
                      </select>
                      
                  </div>
                  <div class="form-group ">
                      <input type           = "text" 
                             class          = "form-control input-lg" 
                             id             = "buscar" 
                             placeholder    = "Buscar"
                             ng-model       = "ActividadesSearch"
                      >
                  
                  </div>
                  <div class="panel-body contentEvento">
                    <table class="table table-striped  table-condensed">
                      <tbody>
                        <tr ng-repeat ="fuenteActividad in obtenerFuenteActividades() | filter: {nombre: ActividadesSearch}"
                            >
                            <td width="100">
                                 <div class="col-md-4">
                                      <input type     = "radio" 
                                             name     = "actividad"
                                             ng-model ="ofertaActividad.actividadSeleccionada"
                                             ng-click ="seleccionarActividad(fuenteActividad)"
                                             ng-value = "ofertaActividad.tipoOferta == 'actividadAcademica'?fuenteActividad.actividad_academica_id:fuenteActividad.actividad_id"
                                             ng-disabled   = "tipoFormEvento == 'soloLectura'"
                                             required >
                                  </div>
                            
                                <div class    = "col-md-2" 
                                     ng-show  = "ofertaActividad.actividad != fuenteActividad"
                                     >
                                          <button class               = "btn btn-sm btn-white"
                                                  tooltip             = "Colocar como obligatoria"
                                                  tooltip-placement   = "top"
                                                  ng-disabled         = "ofertaActividad.actividad != fuenteActividad || tipoFormEvento == 'soloLectura'"
                                                  >
                                                  <i class="fa fa-lock"></i>
                                          </button>
                                  </div>

                                  <div class      = "col-md-2" 
                                       ng-show    = "ofertaActividad.actividad == fuenteActividad">
                                          <button class       = "obtn btn-sm "
                                                  ng-class    = "{
                                                                  'btn-white'      : ofertaActividad.obligatorio == false
                                                                  ,'btn-warning'   : ofertaActividad.obligatorio == true
                                                              }
                                                                "
                                                  ng-click   = "toogleObligatorio()"
                                                  ng-disabled   = "tipoFormEvento == 'soloLectura'"
                                                  >
                                                  <i class    ="fa fa-unlock"
                                                     ng-if    ="!ofertaActividad.obligatorio"
                                                     ></i>
                                                  <i class    ="fa fa-lock"
                                                     ng-if    ="ofertaActividad.obligatorio"
                                                     ></i>
                                          </button>
                                  </div>

                            </td>

                            <td>
                                 <strong tooltip-placement = "right" 
                                      tooltip="{{fuenteActividad.descripcion}}"
                                      data-ng-bind="fuenteActividad.nombre"
                                  ></strong>
                                      <br />
                                <p class="c-gray m-0">

                                    <span ng-repeat="etiqueta in fuenteActividad._etiquetas" class="text-success">
                                      <i class="fa fa-tag" ng-if="$index ==0"></i>
                                      <strong ng-if="$index >0">,</strong>
                                      {{etiqueta.Etiqueta.nombre}}
                                      
                                    </span>
                                </p>
                            </td>
                        </tr>
                      </tbody>
                    </table>
               </div> 
                
              </div>
                  <div class    = "tab"
                       id       = "fechaFin" 
                       ng-show  = "mostrarElemento('fechaFin') && currentTab == 'fechaFin'"
                       >  
                      <div class="form-group">
                        
                         <div class="verde">
                            Selecciona la fecha final de la actividad:
                        </div>
                          <div class="dropdown">
                              <input  type        = "text"
                                      ng-disabled = "tipoFormEvento == 'soloLectura'"  
                                      class       = "dropdown-toggle form-control input-lg" 
                                      ng-model    = "ofertaActividad.fecha_final" 
                                      id          = "dropdown1" 
                                      role        = "button" 
                                      data-toggle = "dropdown" />
                              <ul class="dropdown-menu" role="menu">
                                  <datetimepicker 
                                  data-ng-model               ="ofertaActividad.fecha_final" 
                                  data-on-set-time            ="selectDatePicker(newDate, oldDate)"
                                  data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'  }"/>
                              </ul>
                          </div>
                      </div>
                      
                  </div>
              <div class    ="tab" 
                   id       ="esquema" 
                   ng-show  ="mostrarElemento('esquema') && currentTab == 'esquema'"
                   > 
                  <table class="table table-striped table-bordered table-condensed">
                      <tr ng-repeat = "esquema in ofertaActividad.actividad._esquemas">
                          <td>
                              <span data-ng-bind="esquema.nombre"></span>
                          </td>
                          <td>
                              <div class="col-md-6">
                                    <input type          = "radio" 
                                           name          = "esquema"
                                           ng-click      = "seleccionarEsquema(esquema)"
                                           ng-model      = "ofertaActividad.esquemaSeleccionado"
                                           ng-disabled   = "tipoFormEvento == 'soloLectura'"
                                           ng-value      = "esquema.actividad_academica_esquema_id"
                                           required >
                                </div>
                          </td>
                      </tr>
                  </table>
              </div>
              <div id="diahorario" 
                   ng-show="mostrarElemento('horario') && currentTab == 'horario'"
                   >
                  {%endverbatim%}

                  <table class="table table-striped">
                    <tr ng-repeat ="dia in ofertaActividad.dias">
                        <td width="10%">
                            <input type           = "checkbox"
                                   ng-disabled    = "!puedeSeleccionarDia(dia) || tipoFormEvento == 'soloLectura'"
                                   ng-model       = "ofertaActividad.dias[$index].seleccionado"
                                   ng-change      = "seleccionarDia(dia,ofertaActividad.dias[$index].seleccionado)">
                        </td>
                        <td><span data-ng-bind    ="dia.nombre"></span>  </td>
                        <td>
                            <select ng-model      = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_inicio"
                                    ng-disabled   = "!ofertaActividad.dias[$index].seleccionado  || tipoFormEvento == 'soloLectura'"
                                    ng-options    = "hora_inicio as hora_inicio for hora_inicio in dia.horasInicio track by hora_inicio"
                                    ng-change     = "generarHorasFinValidas($index,dia);"
                                    ng-if         = "tipoFormEvento != 'soloLectura'"
                                    ></select>
                            
                            <span ng-show         = "ofertaActividad.dias[$index].seleccionado"
                                  data-ng-bind    = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_inicio"
                                  ng-if         = "tipoFormEvento == 'soloLectura'"
                                  >
                            </span>  
                        </td>
                        <td>  a   </td>
                        <td>
                            <select ng-model      = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_fin"
                                    ng-show       = "ofertaActividad.dias[$index].seleccionado"
                                    ng-options    = "hora_fin as hora_fin for hora_fin in dia.horasFin track by hora_fin"
                                    ng-if         = "ofertaActividad.tipoOferta == 'actividadNoAcademica'"
                                    ng-disabled   = "tipoFormEvento == 'soloLectura'"
                                    >
                            </select>
                            <span ng-show         = "ofertaActividad.dias[$index].seleccionado"
                                  data-ng-bind    = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_fin"
                                  ng-if           = "ofertaActividad.tipoOferta == 'actividadAcademica'">
                            </span>  
                        </td>
                    </tr>
                  </table>
              </div>
              

            
             <div id="aula2" 
                    accesskey=""ng-show="mostrarElemento('aula') && currentTab == 'aula'"
                   >

                <table class="table table-striped table-bordered table-condensed">
                      <tr ng-repeat = "espacio in espacios">
                          <td>
                              <span data-ng-bind="espacio.nombre"></span>
                          </td>
                          <td>
                              <div class="col-md-6">
                                    <input type          = "radio" 
                                           name          = "espacio"
                                           sng-click      = "seleccionarAula(espacio)"
                                           ng-model      = "ofertaActividad.espacio_id"
                                           ng-value      = "espacio.aula_id"
                                           required >
                                </div>
                              {#angular#}
                          </td>
                      </tr>
                  </table>
            </div>

            <div id="facilitador" 
                    accesskey=""ng-show="mostrarElemento('facilitador') && currentTab == 'facilitador'"
                   >
                <table class        = "table table-striped table-bordered table-condensed"
                       >
                    <tr ng-repeat    = "facilitador in facilitadores">
                        <td >
                            <span data-ng-bind = "facilitador.nombre"></span>
                        </td>
                        <td>
                              <div >
                                    <input type          = "radio" 
                                           name          = "facilitador"
                                           ng-model      = "ofertaActividad.facilitador_id"
                                           ng-value      = "facilitador.facilitador_id"
                                           required >
                                </div>
                          </td>
                        {#<td> 6 hrs ocupada </td>            <td> Apto</td>#}
                    </tr>
                </table>
            </div>
                  
          </div>

    </div>

{% endblock contenidoModal %}

{%block textoCancelar %}
    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Cerrar
    </button>
{%endblock textoCancelar%}

{%block btnAceptar %}
    <button type        = "button"
            class       = "btn btn-verde"
            ng-click    = "guardarEvento()"
            ng-if       = "((tipoEvento == 'ofertaEducativa' && currentTab == 'horario') 
                           || (tipoEvento == 'calendarizacion' && currentTab == 'facilitador')) 
                           && tipoFormEvento != 'soloLectura'"
            ng-disabled = "!eventoValido()"
            >
        {#angular#}
        {%verbatim%}
            {{tipoFormEvento == "nuevo"?'Agregar':tipoEvento == "calendarizacion"?'Calendarizar':'Editar'}}
        {%endverbatim%}
    </button>
    
    <button type            = "button" 
            class           = "btn btn-rojo" 
            ng-if           = "tipoFormEvento == 'editar' && tipoEvento == 'ofertaEducativa'"
            ng-click        = "eliminarActividad()"
            >
        Eliminar Actividad
    </button>
    <button type            = "button" 
            class           = "btn btn-rojo" 
            ng-if           = "tipoFormEvento == 'editar' && tipoEvento == 'calendarizacion'"
            ng-click        = "cancelarActividad()"
            >
        Cancelar Actividad
    </button>
    
{%endblock btnAceptar%}