{%verbatim%}
    <div class    = "tab-pane active"
         id       = "actividad"
         ng-show  ="currentTab == 'rutaActividad'"
         >

        <div class="form-group">
            <select name          = "tipo_actividad_id"
                    class         = "form-control"
                    ng-model      = "ofertaActividad.tipoOferta"
                    required      = "required"
                    ng-options    = "tipo_oferta.clave as tipo_oferta.nombre for tipo_oferta in tiposOferta"
                    ng-disabled   = "!ocultaElementoEvento.fuenteActividades"
                    ng-change     = "reiniciaEsquemaHorario()"
                    >
                <option value="">Elegir opción</option>
            </select>
        </div>

        <div class = "panel-body contentEvento"
             ng-if = "ofertaActividad.tipoOferta != ''
                                && ofertaActividad.tipoOferta != undefined">
            <span class   ="text-success"
                  ng-if   ="ocultaElementoEvento.actividadObligatorio" >
                Seleccione el icono del candado para marcar actividad como "Obligatoria"
            </span>
            <table st-table="fuenteActividades"
                   id="searchTextResults"
                   st-safe-src="fuenteActividades2"
                   class="table table-condensed table-striped table-hover table-bordered ">
                <thead>
                    <tr>
                        <th colspan="5">
                <div class    ="form-group "
                     ng-if    = "ocultaElementoEvento.fuenteActividades">
                    <input type           = "text"
                           class          = "form-control input-lg"
                           id             = "buscar"
                           placeholder    = "Buscar"
                           st-search="">
                    <!--
                    filtrarPorCategoria
                    Se filtran las Actividades (Academicas y no académicas) de acuerdo a la Categoría seleccionada.
                    Bet Gader Porcayo Juárez
                    -->
                    <select name          = "categoria_actividad_id"
                          class         = "form-control"
                          ng-options    = "categoria as categoria.nombre for categoria in categoriasActividad"
                          ng-model      = "ofertaActividad.categoriaActividad"
                          >

                        <option value="">Filtrar por categoría</option>
                    </select>
                </div>
                </th>

                </tr>

                <tr>
                    <th ng-if     = "ocultaElementoEvento.fuenteActividades"></th>
                    <th ng-if     = "ocultaElementoEvento.actividadObligatorio">
                        Obligatorio
                    </th>
                    <th>
                        Nombre Actividad {{ofertaActividad.tipo_evento}}
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-if     = "!ocultaElementoEvento.fuenteActividades">
                        <th ng-if="ocultaElementoEvento.actividadObligatorio">
                            <div class="col-md-2">
                                <button class       = "obtn btn-sm "
                                        ng-class    = "{
                                                            'btn-white'      : ofertaActividad.obligatorio == false
                                                            ,'btn-warning'   : ofertaActividad.obligatorio == true
                                                            }
                                                       "


                    {%endverbatim%}
                    {#}{% if (is_granted('ROLE_SOLO_LECTURA') == true)
                                                    or is_granted('ROLE_SOLO_LECTURA_CALENDARIZACION')
                                                    or is_granted('ROLE_SOLO_LECTURA_OFERTAEDUCATIVA')
                                                    or is_granted('ROLE_FE')
                    %}{#}
                    {% if validaRuta('put_oferta_actividad_centro_obligatoriedad') == 'negado'%}
                                        ng-disabled ="true"
                    {#}{%elseif (is_granted('ROLE_CONTROL_ESCOLAR') == true or is_granted('ROLE_ADMIN') == true)%}{#}
                    {% elseif validaRuta('put_oferta_actividad_centro_obligatoriedad') == 'permitido'%}
                                    ng-click    = "colocarActividadObligatoria()"
                        {%endif%}
                     {%verbatim%}
                                >
                                <i class    ="fa fa-unlock"
                                   ng-if    ="!ofertaActividad.obligatorio"
                                   ></i>
                                <i class    ="fa fa-lock"
                                   ng-if    ="ofertaActividad.obligatorio"
                                   ></i>
                            </button>
                        </div>

                        </th>
                        <td>
                            <span data-ng-bind="ofertaActividad.actividad.nombre"></span>
                        </td>
                        </tr>

                        <tr ng-repeat ="fuenteActividad in fuenteActividades | filter: filtrarPorCategoria"
                            ng-if     = "ocultaElementoEvento.fuenteActividades"
                            >
                            <td width="50" class="text-center">
                                <input type          = "radio"
                                       name          = "actividad"
                                       ng-model      ="ofertaActividad.actividadSeleccionada"
                                       ng-click      ="seleccionarActividad(fuenteActividad)"
                                       ng-value      = "ofertaActividad.tipoOferta == 'actividadAcademica'?fuenteActividad.actividad_academica_id:fuenteActividad.actividad_id"
                                       title         = ""
                                       required >
                            </td>
                            <td width       = "50"
                                ng-if       = "ocultaElementoEvento.actividadObligatorio"
                                class       = "text-center">
                                <div ng-show  = "ofertaActividad.actividad != fuenteActividad">
                                    <button class               = "btn btn-sm btn-white"
                                            tooltip             = "Colocar como obligatoria"
                                            tooltip-placement   = "top"
                                            ng-disabled         = "ofertaActividad.actividad           != fuenteActividad"
                                            >
                                        <i class="fa fa-lock"></i>
                                    </button>
                                </div>

                                <div ng-show    = "ofertaActividad.actividad == fuenteActividad">
                                    <button class       = "obtn btn-sm "
                                            ng-class    = "{
                                                                  'btn-white'      : ofertaActividad.obligatorio == false
                                                                  ,'btn-warning'   : ofertaActividad.obligatorio == true
                                                              }
                                            "
                                            ng-click   = "toogleObligatorio()"
                                            >
                                        <i class    ="fa fa-unlock"
                                           ng-if    ="!ofertaActividad.obligatorio"
                                           ></i>
                                        <i class    ="fa fa-lock"
                                           ng-if    ="ofertaActividad.obligatorio"
                                           ></i>
                                    </button>
                                </div>

                            </td>

                            <td>
                                <strong tooltip-placement = "right"
                                        tooltip="{{fuenteActividad.descripcion}}"
                                        data-ng-bind="fuenteActividad.nombre"
                                        ></strong>
                                <br />
                                <p class="c-gray m-0">

                                    <span ng-repeat="etiqueta in fuenteActividad._etiquetas" class="text-success">
                                        <i class="fa fa-tag" ng-if="$index ==0"></i>
                                        <strong ng-if="$index >0">,</strong>
                                        {{etiqueta.Etiqueta.nombre}}
                                    </span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
{%endverbatim%}