<div class    = "tab"
     id       = "fechaInicio"
     ng-if  = "mostrarElemento('fechaInicio') && currentTab == 'fechaInicio'"
     >
    <div class="form-group contentEvento">
        <!--Se evalua si si es oferta educativa y puede editar la fecha de inicio-->
        <div >
            <div class  = "verde"
                 ng-if  = "tipoEvento != 'ofertaEducativa'"
                 >
                Selecciona la fecha inicio de la actividad (AAAA-MM-DD):
            </div>
            <div class="dropdown">
                <input  type        = "text"
                        ng-disabled = "ocultaElementoEvento.fecha_inicio"
                        class       = "dropdown-toggle form-control input-lg"
                        ng-model    = "ofertaActividad.fecha_inicio"
                        id          = "dropdown1"
                        role        = "button"
                        data-toggle = "dropDownFechaInicio" />
                <ul class   = "dropdown-menu"
                    role    = "menu"
                    ng-if     = "tipoEvento != 'ofertaEducativa'"
                    >
                    <datetimepicker
                        data-ng-model               ="ofertaActividad.fecha_inicio"
                        data-on-set-time            ="selectDatePicker(newDate, oldDate,'fecha_inicio')"
                        data-datetimepicker-config  ="{ dropdownSelector: '#dropDownFechaInicio',  startView:'day', minView:'day'}"/>
                </ul>
            </div>
        </div>
        <div ng-if = "ocultaElementoEvento.set_obligatorio_fecha_inicio"
             class = "form-group">
            <div class="col-md-6">
                <span>
                    <table>
                        <td>
                            <button class       = "obtn btn-sm "
                                ng-class    = "{
                                                'btn-white'      : esObligatorio('fecha_inicio') == false
                                                ,'btn-warning'   : esObligatorio('fecha_inicio') == true
                                                }
                                               "
                                  {#
                                  Si es el rol de admin o control escolar, pueden modificar la
                                  obligatoriedad en calendarizacion
                                  
                                 {% if (is_granted('ROLE_CONTROL_ESCOLAR') == true
                                           or is_granted('ROLE_ADMIN') == true)
                                 %}#}
                                 {% if validaRuta('put_oferta_actividad_centro_obligatoriedad') == 'permitido'%}
                                    ng-click    = "agregarQuitarControlAcceso('fecha_inicio');"
                                  {#
                                  Si es cualquier otro rol no pueden
                                  #}
                                 {%else%}
                                    ng-disabled ="true"
                                 {%endif%}
                                               >
                                <i class    ="fa fa-unlock"
                                   ng-if    ="!esObligatorio('fecha_inicio')"
                                   ></i>
                                <i class    ="fa fa-lock"
                                   ng-if    ="esObligatorio('fecha_inicio')"
                                   ></i>
                            </button>
                        </td>
                        <td>
                                <label  class="ng-binding paddingMargin"
                                        >
                                  {#
                                    Si es el rol de admin o control escolar,
                                   aparece el texto de fijar fecha de inicio
                                  
                                  {% if (is_granted('ROLE_CONTROL_ESCOLAR') == true
                                           or is_granted('ROLE_ADMIN') == true)
                                 %}#}
                                 {% if validaRuta('put_oferta_actividad_centro_obligatoriedad') == 'permitido'%}
                                    Fijar
                                    {%else%}
                                        <label ng-if="esObligatorio('fecha_inicio')">
                                            Fecha de inicio fija
                                        </label>
                                    {%endif%}
                                </label>

                        </td>
                    </table>
                </span>
            </div>
        </div>

        <span class = "alert alert-warning warning-calendario"
              ng-if    ="esObligatorio('fecha_inicio')">
                <ul>
                    {#
                      De acuerdo al rol se muestran textos diferentes
                    
                    {% if (is_granted('ROLE_CONTROL_ESCOLAR') == true
                                           or is_granted('ROLE_ADMIN') == true)
                                 %}#}
                    {% if validaRuta('put_oferta_actividad_centro_obligatoriedad') == 'permitido'%}
                         <li>
                             <b>Implicaciones:</b>
                         </li>
                        <li>
                            - No se podrá modificar la fecha de inicio en el centro.
                         </li>
                         <li>
                            - Se bloqueará el día correspondiente a la fecha inicio en Día Horario.
                         </li>
                         <li>
                            - La actividad será obligatoria
                         </li>
                     {%else%}

                        <li>
                            - No se puede modificar la fecha de inicio en el centro.
                         </li>
                         <li>
                            - El día correspondiente a la fecha inicio en Día Horario está bloqueado.
                         </li>
                         <li>
                            - La actividad es obligatoria
                         </li>
                     {%endif%}
                </ul>
         </span>
    </div>

</div>

<div class    = "tab"
     id       = "fechaFin"
     ng-show  = "mostrarElemento('fechaFin') && currentTab == 'fechaFin'"
     >
    <div class="form-group">

        <div class="verde">
            Selecciona la fecha final de la actividad (AAAA-MM-DD):
        </div>
        <div class="dropdown">
            <input  type        = "text"
                    ng-disabled = "ocultaElementoEvento.fecha_fin"
                    class       = "dropdown-toggle form-control input-lg"
                    ng-model    = "ofertaActividad.fecha_final"
                    id          = "dropdown1"
                    role        = "button"
                    data-toggle = "dropdown" />
            <ul class="dropdown-menu" role="menu">
                <datetimepicker
                    data-ng-model               ="ofertaActividad.fecha_final"
                    data-on-set-time            ="selectDatePicker(newDate, oldDate,'fecha_final')"
                    data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'}"/>
            </ul>
        </div>
    </div>

</div>


