<div class    ="tab"
     id       ="esquema"
     ng-show  ="mostrarElemento('esquema') && currentTab == 'esquema'"
     >
    <table class="table table-striped table-bordered table-condensed">
        <tr ng-repeat = "esquema in ofertaActividad.actividad._esquemas">
            <td>
                <span data-ng-bind="esquema.nombre"></span>
            </td>
            <td>
                <div class="col-md-6">
                    <input type          = "radio"
                           name          = "esquema"
                           ng-click      = "seleccionarEsquema(esquema)"
                           ng-model      = "ofertaActividad.esquemaSeleccionado"
                           ng-disabled   = "ocultaElementoEvento.esquema"
                           ng-value      = "esquema.actividad_academica_esquema_id"
                           required >
                </div>
            </td>
        </tr>
    </table>
</div>
