<div id="diahorario"
     ng-show="mostrarElemento('horario')
                            && currentTab == 'horario'
     "
     >
        <table class="table table-striped">
            <tr ng-repeat ="dia in ofertaActividad.dias">
                <td width="10%">
                    <input type           = "checkbox"
                           ng-disabled    = "!puedeSeleccionarDia(dia)
                                             || ocultaElementoEvento.dia_horario"
                           ng-model       = "ofertaActividad.dias[$index].seleccionado"
                           ng-change      = "seleccionarDia(dia,ofertaActividad.dias[$index].seleccionado)">
                </td>

                <td>
                    <span data-ng-bind    ="dia.nombre"></span>
                    <i class    = "fa fa-info-circle pull-right  ng-scope cursor-pointer"
                       tooltip  = "Fecha inicio fija"
                       tooltip-placement="right"
                       ng-if="diaInicialBloqueado(dia)"></i>
                </td>
                <td>
                    <select ng-model      = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_inicio"
                            ng-disabled   = "!ofertaActividad.dias[$index].seleccionado
                                              || ocultaElementoEvento.dia_horario"
                            ng-options    = "hora_inicio as hora_inicio for hora_inicio in dia.horasInicio track by hora_inicio"
                            ng-change     = "generarHorasFinValidas($index,dia);"
                            ng-if         = "tipoFormEvento != 'soloLectura'"
                            ></select>

                    <span ng-show         = "ofertaActividad.dias[$index].seleccionado"
                          data-ng-bind    = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_inicio"
                          ng-if           = "tipoFormEvento == 'soloLectura'"
                          >
                    </span>
                </td>
                <td>  a   </td>
                <td>
                    <select ng-model      = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_fin"
                            ng-show       = "ofertaActividad.dias[$index].seleccionado"
                            ng-options    = "hora_fin as hora_fin for hora_fin in dia.horasFin track by hora_fin"
                            ng-if         = "ofertaActividad.tipoOferta == 'actividadNoAcademica'"
                            ng-disabled   = "ocultaElementoEvento.dia_horario"
                            >
                    </select>
                    <span ng-show         = "ofertaActividad.dias[$index].seleccionado"
                          data-ng-bind    = "ofertaActividad.horariosSeleccionados[ofertaActividad.horariosSeleccionados.indexOf(dia)].hora_fin"
                          ng-if           = "ofertaActividad.tipoOferta == 'actividadAcademica'">
                    </span>

                </td>
            </tr>
        </table>
    </div>
