<div id="diahorario"
                   ng-show="mostrarElemento('horarioEvento')
                            && currentTab == 'horarioEvento'
                            "
                            >
                    <div class="form-group">
                         <div class="verde">
                            Fecha de la sesión (AAAA-MM-DD):
                        </div>
                          <div class="dropdown">
                                        <input  type        = "text"
                                          class       = "dropdown-toggle form-control input-lg"
                                          ng-model    = "ofertaActividad.evento.fecha_evento"
                                          id          = "dropdown1"
                                          role        = "button"
                                          data-toggle = "dropdown"
                                          ng-disabled   = "ocultaElementoEvento.evento_dia"
                                          />
                                        <ul class="dropdown-menu" role="menu">
                                            <datetimepicker
                                            data-ng-model               ="ofertaActividad.evento.fecha_evento"
                                            data-on-set-time            ="selectDatePicker(newDate, oldDate,'fecha_evento')"
                                            data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'  }"/>
                                        </ul>
                                    </div>
                    </div>
                    <span class = "alert alert-warning warning-calendario"
                          ng-if    ="!sePuedeModificarElEvento()">
                            <ul>
                                    <li>
                                        - No se puede modificar la fecha de este evento, ya que la fecha de inicio es fija.
                                     </li>
                            </ul>
                     </span>
                    <div class="form-group">
                         <div class="verde">
                            Horario:
                        </div>
                        <table class="table">
                            <tr >
                                <td>
                                    <select ng-model      = "ofertaActividad.evento.hora_inicio"
                                            ng-options    = "hora_inicio as hora_inicio for hora_inicio in ofertaActividad.evento.diaHoras.horasInicio track by hora_inicio"
                                            ng-change     = "generarHorasFinValidasXEvento();"
                                            ng-if         = "tipoFormEvento != 'soloLectura'"
                                            ng-disabled   = "ocultaElementoEvento.evento_horario"
                                            ></select>
                                            <span
                                                data-ng-bind    = "ofertaActividad.evento.hora_inicio"
                                                ng-if           = "tipoFormEvento == 'soloLectura'">
                                          </span>
                                </td>
                                <td>  a   </td>
                                <td>
                                    <select ng-model      = "ofertaActividad.evento.hora_fin"
                                            ng-options    = "hora_fin as hora_fin for hora_fin in ofertaActividad.evento.diaHoras.horasFin track by hora_fin"
                                            ng-if         = "ofertaActividad.tipoOferta == 'actividadNoAcademica'"
                                            ng-disabled   = "ocultaElementoEvento.evento_horario"
                                            >
                                    </select>
                                    <span data-ng-bind    = "ofertaActividad.evento.hora_fin"
                                          ng-if           = "ofertaActividad.tipoOferta == 'actividadAcademica'">
                                    </span>
                                </td>
                            </tr>
                          </table>
                      </div>
              </div>
