<div id="aula"
     accesskey=""ng-show="mostrarElemento('aula') && currentTab == 'aula'"
     >

    <table class="table table-striped table-bordered table-condensed">
        <tr ng-repeat = "espacio in espacios">
            <td>
                <span data-ng-bind="espacio.nombre"></span>
            </td>
            <td>
                <div class="col-md-6">
                    <input type          = "radio"
                           name          = "espacio"
                           sng-click      = "seleccionarAula(espacio)"
                           ng-model      = "ofertaActividad.espacio_id"
                           ng-value      = "espacio.aula_id"
                           required
                           ng-disabled   = "ocultaElementoEvento.soloLectura"
                           >
                </div>
                {#angular#}
            </td>
        </tr>
    </table>
</div>
