{# empty Twig template #}
<div id="facilitador"
     accesskey=""
     ng-show="mostrarElemento('facilitador')
                             && currentTab == 'facilitador'
     "
     >
    <table class        = "table table-striped table-bordered table-condensed"
           >
        <thead>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat    = "facilitador in FacilitadoresConHorasAsignadas " ng-show = "facilitador.facilitador.activo || facilitador.facilitador.facilitador_id == ofertaActividad.facilitador_id ">
                <td >
                    <span data-ng-bind = "facilitador.facilitador.nombre+' '+facilitador.facilitador.apellido_paterno+' '+facilitador.facilitador.apellido_materno"></span>
                </td>
                <td>
                    <div >
                        <input type          = "radio"
                               name          = "facilitador"
                               ng-model      = "ofertaActividad.facilitador_id"
                               ng-value      = "facilitador.facilitador.facilitador_id"
                               ng-disabled   = "ocultaElementoEvento.soloLectura || !facilitador.facilitador.activo"
                               required
                               >
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
