<div class    = "tab"
     id       = "fechaInicio"
     ng-if  = "mostrarElemento('fechaDesplazamiento') && currentTab == 'fechaDesplazamiento'"
     >
    <div class="form-group">

        <div class="verde">
            Selecciona la fecha nueva, la cual modificara a las siguientes sesiones (AAAA-MM-DD):
        </div>
        <div class="dropdown">
            <input  type        = "text"
                    ng-disabled = "ocultaElementoEvento.fecha_desplazamiento"
                    class       = "dropdown-toggle form-control input-lg"
                    ng-model    = "ofertaActividad.fecha_desplazamiento"
                    id          = "dropdown1"
                    role        = "button"
                    data-toggle = "dropdown" />
            <ul class="dropdown-menu" role="menu">
                <datetimepicker
                    data-ng-model               ="ofertaActividad.fecha_desplazamiento"
                    data-on-set-time            ="selectDatePicker(newDate, oldDate,'fecha_desplazamiento')"
                    data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1',  startView:'day', minView:'day'}"/>
            </ul>
        </div>
        <span class = "alert alert-warning warning-calendario"
              ng-if    ="!sePuedeModificarElEvento()">
                <ul>
                        <li>
                            - No se puede modificar este evento, ya que la fecha de inicio es fija.
                         </li>
                </ul>
         </span>
    </div>

</div>
