{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}

{% block cssPage %}

	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css')}}"><!--hector-->

{% endblock cssPage%}

{% block javascriptPage %}
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/services/ofertaEducativaService.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/listadoOfertas/controllers/indexOfertaEducativaCtrl.js')               }}"></script>	
{% endblock javascriptPage %}

{%block title %}
    Calendarización
{% endblock title %}

{%block contentPage %}
<div ng-controller="indexOfertaEducativaCtrl" ng-init="init()">
    <div id="main-content" class="form-page">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Programación CE
                </h2>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <div class="verde">
                            Administración de programación CE
                        </div>
                    </h4>
                </div>
            </div>
                
            <div class="row">            
                <div class="col-md-12">
                    {{ include ("ControlEscolarCalendarioBundle:listadoOfertas:ofertaEducativaForm.html.twig", with_context = true) }}
                </div>
            </div>
                
        </div>        
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table st-table   ="ofertasEducativas"
                       id         ="searchTextResults"
                       st-safe-src="ofertasEducativas2"
                       class      ="table table-condensed table-striped table-hover table-bordered ">
                    <thead class="no-bd">
                        <tr>
                            <th colspan="10">
                                <input st-search="" class="form-control input-lg" placeholder="Buscar ..." type="text"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="oferta_educativa_id" class="cursor-pointer">
                                Id
                            </th>
                            <th st-sort="nombre" class="cursor-pointer">
                                Nombre
                            </th>
                            <th st-sort="fecha_inicio" class="cursor-pointer">
                                Fecha inicio
                            </th>
                            <th st-sort="fecha_fin" class="cursor-pointer">
                                Fecha fin
                            </th>
                            <th st-sort="_periodo.nombre" class="cursor-pointer hidden" >
                                Periodo
                            </th>
                            <th  width="100">
                                Publicada en centros
                            </th>
                            <th  width="100">
                                Fecha publicación
                            </th>
                            <th  class="cursor-pointer" width="80">
                                Editar
                            </th>
                            <th  class="cursor-pointer" width="80">
                                Eliminar
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="ofertaEducativa in ofertasEducativas">
                            
                            <td><span ng-bind="ofertaEducativa.oferta_educativa_id                      "></span></td>
                            <td><span ng-bind="ofertaEducativa.nombre                                   "></span></td>
                            <td><span ng-bind="ofertaEducativa.fecha_inicio | date : format : longDate  "></span></td>
                            <td><span ng-bind="ofertaEducativa.fecha_fin | date : format : longDate     "></span></td>
                            <td class="hidden"><span ng-bind="ofertaEducativa._periodo.nombre                          " ></span></td>
                            <td class="text-center">
                                <i ng-if="ofertaEducativa.sincronizado" class="fa fa-check text-success"></i>
                                <i ng-if="!ofertaEducativa.sincronizado" class="fa fa-minus text-disabled"></i>
                            </td>
                            <td><span ng-bind="ofertaEducativa.fecha_sincronizacion | date : format : longDate"></span></td>
                            <td>
                                <button  
                                         type        ="button" 
                                         ng-disabled ="ofertaEducativa.sincronizado" 
                                         class       ="btn btn-sm btn-icon  btn-success" 
                                         ng-click    ="editaOfertaEducativa(ofertaEducativa);">
                                        <i class="fa fa-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button 
                                         type        ="button"  
                                         ng-disabled ="ofertaEducativa.sincronizado" 
                                         class       ="btn btn-sm btn-icon  btn-danger"  
                                        ng-click     ="remove(ofertaEducativa);">
                                        <i class="fa fa-trash-o"></i>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>
{%endblock contentPage %}

{%block contentModals %}
    
{% endblock contentModals %}
