<form  class    = "form-horizontal" 
                   name     = "formOfertaEducativa" 
                   data-parsley-validate 
                   id       = "ofertaEducativaForm" 
                   novalidate 
                   role     = "form">
    <div class="form-group">
        <!--
        <label class="control-label">Nombre <span class="asterisk">*</span>
        </label>
        -->
        <div class="">
            <input type="text" name="nombre" id="nombre"  data-ng-trim="true"
            ng-trim="true" ng-model="ofertaEducativa.nombre"  ng-maxlength="50"
            placeholder="Nombre *"
            ng-minlength="10" class="form-control input-lg" required>
            <p ng-show  = "formOfertaEducativa.nombre.$invalid && formOfertaEducativa.nombre.$dirty" 
               class    = "text-danger parsley-required" 
               ng-show  = "formOfertaEducativa.nombre.$invalid">
                Verifica el tamaño del texto, mínimo debe ser 10, máximo 50.
            </p>
        </div>
    </div>

    <div class="form-group">
        <!--
        <label class="control-label">Descripción <span class="asterisk">*</span>
        </label>
        -->
        <div class="" >
                <div class="col-md-12">
                    <h5>
                        <div class="verde">
                            Fecha Inicio
                        </div>
                    </h5>
                </div>

            <div class="dropdown">
                <input type      = "text"
                       id        = "ofertaEducativafecha_inicio"
                       name      = "fecha_inicio"
                       class     = "dropdown-toggle form-control input-lg"
                       ng-model  = "ofertaEducativa.fecha_inicio"
                       {# para el angular#}
                       {% verbatim %} 
                           value="{{ofertaEducativa.fecha_inicio}}" 
                       {% endverbatim %} 
                       required
                       placeholder  = "Fecha de Inicio (AAAA-MM-DD)*" 
                       id          = "dropdown1" 
                       role        = "button" 
                       data-toggle = "dropdown"
                       >
                                      
                {%
                                include "::Form/inputs.html.twig"
                                with {
                                    'campo'     : 'fecha_inicio',
                                    'formulario': 'formOfertaEducativa',
                                    'required'  : 'required'
                                }
                %}

                <ul class="dropdown-menu" role="menu">
                    <datetimepicker 
                        data-ng-model               ="ofertaEducativa.fecha_inicio" 
                        data-on-set-time            ="selectDatePickerCalendarioInicio(newDate, oldDate, 'fecha_inicio')"
                        data-datetimepicker-config  ="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day' }"/>
                </ul>
            </div>
        </div>  


          <div class="" >
                <div class="col-md-12">
                    <h5>
                        <div class="verde">
                            Fecha Fin
                        </div>
                    </h5>
                </div>

            <div class="dropdown"> 
                <input type      = "text"
                       id        = "ofertaEducativafecha_fin"
                       name      = "fecha_fin"
                       class     = "dropdown-toggle form-control input-lg"
                       ng-model  = "ofertaEducativa.fecha_fin"
                       {# para el angular#}
                       {% verbatim %} 
                           value="{{ofertaEducativa.fecha_fin}}"
                       {% endverbatim %} 
                       required
                       placeholder  = "Fecha Fin (AAAA-MM-DD)*" 
                       id           = "dropdown2" 
                       role         = "button" 
                       data-toggle  = "dropdown"
                       >

                {%
                                include "::Form/inputs.html.twig"
                                with {
                                    'campo'     : 'fecha_fin',
                                    'formulario': 'formOfertaEducativa',
                                    'required'  : 'required'
                                }
                %}

                <ul class="dropdown-menu" role="menu">
                    <datetimepicker
                        data-ng-model               ="ofertaEducativa.fecha_fin" 
                        data-on-set-time            ="selectDatePickerCalendarioFin(newDate, oldDate, 'fecha_fin')"
                        data-datetimepicker-config  ="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"/>
                </ul>
            </div>
        </div>





    </div>

    <button class="btn btn-success btn-lg"
                type="button" ng_click="add()"
                id="btnObjetivoAdd"
                ng-if="tipoAccion == 1"
                ng-disabled="formOfertaEducativa.$invalid && permitirCrearOferta">
                Crear Programación CE
        </button>
        <button class="btn btn-success btn-lg"
                type="button" ng_click="update(ofertaEducativa)"
                id="btnObjetivoModificar"
                ng-if="tipoAccion ==2"
                ng-disabled="formOfertaEducativa.$invalid">
                Modificar Datos
        </button>
        <button class="btn btn-lg"
                type="button"
                ng-if="tipoAccion == 2"
                ng_click="cancelarActualizacion()"
                id="btnObjetivoCancelarActualizacion">
            Cancelar
        </button>
</form>


