{# empty Twig template #}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-12" ng-controller="parametroCtrl" ng-init="init('{{ambiente}}',{{parametroDesdeCentral}})">
            <div class="table-responsive">
               <div class="pull-left col-sm-12" >
                    <table     st-table   ="parametros"
                               st-safe-src = "array_parametros | orderBy: array_parametros.fecha_modificacion"
                               class        ="table table-condensed table-striped table-hover table-bordered ">
                        <thead>
                            <tr>
                                <th colspan="10">
                                   <input st-search="" class="form-control input-lg" placeholder="Buscar ..." type="text"/>
                                </th>
                            </tr>
                            <tr>
                                <th st-sort="parametros.nombre">Nombre</th>
                                <th st-sort="parametros.etiqueta">Descripción</th>
                                <th st-sort="parametros.valor" class="cursor-pointer">Valor</th>
                                <th st-sort="parametros.fecha_alta" class="cursor-pointer">Fecha alta</th>
                                <th ng-if="corporativo">
                                    Centro
                                </th>
                                {#}{% if is_granted('ROLE_ADMIN')
                                   or is_granted('ROLE_CONTROL_ESCOLAR')
                                        %}{#}
                                {% if validaRuta('control_escolar_calendarizacion_parametros_editar') == 'permitido'%}
                                <th ng-if="corporativo">
                                    Editar
                                </th>
                                {%endif%}
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="parametro in parametros">
                                <td ng-bind="parametro.nombre" ></td>
                                <td ng-bind="parametro.etiqueta" ></td>
                                <td ng-bind="parametro.valor" ></td>
                                <td class="col-sm-1" ng-bind="parametro.fecha_alta | date : format : longDate" ></td>
                                <td ng-if="corporativo">
                                   <div class="col-sm-5">
                                   <label
                                            ng-model    ="parametro.modifica_centro"
                                            ng-disabled ="true"

                                   <i ng-if = "parametro.modifica_centro"
                                      class = "fa fa-check text-success"></i>

                                    <i ng-if = "!parametro.modifica_centro"
                                     class="fa fa-minus text-warning"></i>
                                    </label>
                                    </div>
                                </td>
                                {#}{% if is_granted('ROLE_ADMIN')
                                   or is_granted('ROLE_CONTROL_ESCOLAR')
                                        %}{#}
                               {% if validaRuta('control_escolar_calendarizacion_parametros_editar') == 'permitido'%}
                                <td width="10"
                                    height = "5"
                                    ng-if="corporativo"
                                    >
                                    <button class="btn btn-sm btn-success"
                                            ng-if = "(parametro.modifica_centro
                                                      && parametroDesdeCentral)
                                                      || !parametroDesdeCentral"
                                            ng-click="editarParametro(parametro.parametro_id, 'central')">
                                    <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                {% endif%}
                            </tr>
                        </tbody>
                            <tfoot>
                                 <tr>
                                    <td colspan="8" class="text-center">
                                       <div st-pagination="" st-items-by-page="7" st-displayed-pages=""></div>
                                    </td>
                                </tr>
                           </tfoot>
                    </table>
                </div>
            </div>
            {#}{% if is_granted('ROLE_ADMIN')
                  or is_granted('ROLE_CONTROL_ESCOLAR')
            %}{#}
            {% if validaRuta('control_escolar_calendarizacion_parametros_editar') == 'permitido'%}
            {% include 'ControlEscolarCalendarioBundle:parametrizacion:modals/modalEditarParametro.html.twig'
  			  	with{
        		'idModal'  : 'idModalEdicionParametro',
        		'tipoModal': 'modal-dialog',
        		'btnCerrar': 'true'
                        }
			%}
            {%endif %}
        </div>
    </div>
</div>