{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}
{% block cssPage %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-multiselect.css')}}"><!--hector-->
{% endblock cssPage%}

{% block javascriptPage %}
<!--Servicios de Programación CE-->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/services/ofertaActividadService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/services/ofertaEducativaService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/services/escenarioService.js')       }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/services/escenarioOfertaService.js') }}"></script>

<!--Servicios de calendarizacion -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/ofertaEducativaCentroService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/ofertaCalendarioCentroService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/ofertaActividadCentroService.js') }}"></script>


<!--Servicios comunes -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarplananual/js/services/actividadAcademicaService.js')   }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarplananual/js/services/actividadNoAcademicaService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarplananual/js/services/grupoService.js')                }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/centroService.js')                                 }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/datosInformativosCtrl.js')                   }}"></script>


<!--Controladores -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/controllers/escenarioCtrl.js')                }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/controllers/calendarOfertaEducativaCtrl.js')  }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/controllers/botonesCtrl.js')                            }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/tituloOfertaCtrl.js')                       }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/eventoCtrl.js')                             }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/datetimepickerCtrl.js')                     }}"></script>

{% endblock javascriptPage %}

{%block title %}
    Calendarización
{% endblock title %}

{%block contentPage %}

    <!-- BEGIN MAIN CONTENT -->
    <div id="main-content">

        <div class="widget-fullwidth bg-gray-light row" ids="bar-toggle">
            <div class="col-md-3 p-0" sid="barra-toggle">
                <!--inicio: Barra Lateral-->
            {# empty Twig template #}
            <div class="widget bg-gray-light">
                <div class="widget-body">
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% include "ControlEscolarCalendarioBundle:comun:parts/tituloOfertaEducativa.html.twig"                                     %}
                            {% include "ControlEscolarCalendarioBundle:ofertaeducativa:parts/escenarios.html.twig"                                      %}
                            {% include "ControlEscolarCalendarioBundle:ofertaeducativa:parts/botones.html.twig" with{'tipoPantalla':'ofertaEducativa'}  %}
                            {% include "ControlEscolarCalendarioBundle:comun:parts/datePickerCalendario.html.twig"                                      %}
                            {% include "ControlEscolarCalendarioBundle:comun:parts/datosInformativos.html.twig" with{ tipoCalendario:'ofertaEducativa'} %}

                        </div>

                    </div>
                </div>

            </div>

	    <!--fin: Barra lateral-->

            </div>
            <a href="#boton-toggle" class="btn btn-default hidden" id="boton-toggle">
                <i id="boton-icon" class="fa fa-arrow-left"></i>
            </a>
            <script>
                    $("#boton-toggle").click(function(e) {
                        e.preventDefault();
                        $("#bar-toggle").toggleClass("toggled");
                        $("#boton-icon").toggleClass("fa fa-arrow-left fa fa-arrow-right");

                    });
                </script>
            <div class          = "col-md-9 p-0 no-bd"
                 ng-controller  = "calendarOfertaEducativaCtrl"
                 ng-init        = "init('{{fechaActual.fecha}}'
                                        ,'{{fechaActual.fechaHora}}'
                                        ,'{{fechaActual.timezoneOffset}}'
                                        ,'{{tipoProgramacionCE}}')">

                <div class="widget bg-white">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="calendar"></div>
                            </div>
                        </div>
                        <section id="directives-calendar"  >
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="calendar" ng-model="eventSources" id="ofertaEducativaCalendar" calendar="ofertaEducativaCalendar" ui-calendar="uiConfig.calendar"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
{%endblock contentPage %}

{%block contentModals %}
    <!--inicio:eventos-->
    {% include "ControlEscolarCalendarioBundle:comun:modals/eventos.html.twig"
			with{
                    'idModal'        : "idModalEventos",
	            'tipoModal'      : "modal-dialog",
	            'btnCerrar'      : "true",
                    'tipoCalendario' : "ofertaEducativa"
	        }
    %}
    <!--fin:eventos-->

    <!--inicio:mensaje dias laborables-->
    {% include "ControlEscolarCalendarioBundle:comun:modals/mensajediaslaborables.html.twig"
            with{
                    'idModal'        : "idModalMensajesDiasLaborables",
                'tipoModal'      : "modal-dialog",

            }
    %}
    <!--fin:mensaje dias laborables-->
{% endblock contentModals %}


