<div ng-init="init()">

    <div class="content-panel row mt">
        <div class="col-md-12">
            <h4><i class="fa fa-angle-right"></i>{{pagina.titulo}}</h4>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Busqueda...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="input-group">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#visualizacion_columnas">Filtros</button>
                        <div id="visualizacion_columnas" class="collapse">
                            <h4>Datos a mostrar:</h4>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('nombre')"><input type="checkbox" ng-checked="visibilidadColumna('nombre')">Nombre</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('apellido_paterno')"><input type="checkbox" ng-checked="visibilidadColumna('apellido_paterno')">Apellido Paterno</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('apellido_materno')"><input type="checkbox" ng-checked="visibilidadColumna('apellido_materno')">Apellido Materno</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('curp')"><input type="checkbox" ng-checked="visibilidadColumna('curp')">Curp</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('edad')"><input type="checkbox" ng-checked="visibilidadColumna('edad')">Edad</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('email')"><input type="checkbox" ng-checked="visibilidadColumna('email')">Email</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('telefono_particular')"><input type="checkbox" ng-checked="visibilidadColumna('telefono_particular')">Telefono particular</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('telefono_celular')"><input type="checkbox" ng-checked="visibilidadColumna('telefono_celular')">Telefono celular</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('fecha_nacimiento')"><input type="checkbox" ng-checked="visibilidadColumna('fecha_nacimiento')">Fecha de Nacimiento</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('direccion')"><input type="checkbox" ng-checked="visibilidadColumna('direccion')">Direccion</label>
                            </div>
                            <div class="checkbox">
                                <label ng-click="cambiarVisibilidadColumna('centro_id')"><input type="checkbox" ng-checked="visibilidadColumna('centro_id')">Centro</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodycontainer scrollable">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">

                    <thead>
                        <tr>
                            <th ng-class="columnas.nombre" ng-show="visibilidadColumna('nombre')"><i class=""></i>Nombre</th>
                            <th ng-class="columnas.apellido_paterno" ng-show="visibilidadColumna('apellido_paterno')"><i class=""></i>Apellido Paterno</th>
                            <th ng-class="columnas.apellido_materno" ng-show="visibilidadColumna('apellido_materno')"><i class=""></i>Apellido Materno</th>
                            <th ng-class="columnas.apellido_materno" ng-show="visibilidadColumna('curp')"><i class=""></i>Curp</th>
                            <th ng-class="columnas.edad" ng-show="visibilidadColumna('edad')"><i class=""></i>Edad</th>
                            <th ng-class="columnas.email" ng-show="visibilidadColumna('email')"><i class=""></i>Email</th>
                            <th ng-class="columnas.telefono_particular" ng-show="visibilidadColumna('telefono_particular')"><i class=""></i>Telefono particular</th>
                            <th ng-class="columnas.telefono_celular" ng-show="visibilidadColumna('telefono_celular')"><i class=""></i>Telefono celular</th>
                            <th ng-class="columnas.fecha_nacimiento" ng-show="visibilidadColumna('fecha_nacimiento')"><i class=""></i>Fecha de Nacimiento</th>
                            <th ng-class="columnas.direccion" ng-show="visibilidadColumna('direccion')"><i class=""></i>Direccion</th>
                            <th ng-class="columnas.centro_id" ng-show="visibilidadColumna('centro_id')"><i class=""></i>Centro</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--                        <tr ng-repeat-start="alumno in alumnos" id='alumno{{alumno.id}}'>-->
                        <tr ng-repeat="profesor in profesores" id='profesor{{profesor.id}}'>
                            <td ng-class="columnas.nombre" ng-show="visibilidadColumna('nombre')"><span ng-bind="profesor.nombre"></span></td>
                            <td ng-class="columnas.apellido_paterno" ng-show="visibilidadColumna('apellido_paterno')"><span ng-bind="profesor.apellido_paterno"></span></td>
                            <td ng-class="columnas.apellido_materno" ng-show="visibilidadColumna('apellido_materno')"><span ng-bind="profesor.apellido_materno"></span></td>
                            <td ng-class="columnas.apellido_materno" ng-show="visibilidadColumna('curp')"><span ng-bind="profesor.curp"></span></td>
                            <td ng-class="columnas.edad" ng-show="visibilidadColumna('edad')"><span ng-bind="obtenerEdadProfesor(profesor.fecha_nacimiento)"></span></td>
                            <td ng-class="columnas.email" ng-show="visibilidadColumna('email')"><span ng-bind="profesor.email"></span></td>
                            <td ng-class="columnas.telefono_particular" ng-show="visibilidadColumna('telefono_particular')"><span ng-bind="profesor.telefono_particular"></span></td>
                            <td ng-class="columnas.telefono_celular" ng-show="visibilidadColumna('telefono_celular')"><span ng-bind="profesor.telefono_celular"></span></td>
                            <td ng-class="columnas.fecha_nacimiento" ng-show="visibilidadColumna('fecha_nacimiento')"><span ng-bind="profesor.fecha_nacimiento"></span></td>
                            <td ng-class="columnas.direccion" ng-show="visibilidadColumna('direccion')"><span ng-bind="profesor.direccion"></span></td>
                            <td ng-class="columnas.centro_id" ng-show="visibilidadColumna('centro_id')"><span ng-bind="obtenerCentroById(profesor.centro_id)"></span></td>
                            <td>
                                <button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="right" title="Ver Profesor" ng-click="verDatosProfesor(profesor.id)"><i class="fa fa-eye fa-2x"></i></button>
                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="right" title="Modificar Profesor" ng-click="modificarDatosProfesor(profesor.id)"><i class="fa fa-pencil fa-2x"></i></button>
                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="Eliminar Profesor" ng-click="eliminarDatosProfesor(profesor.id)"><i class="fa fa-trash-o fa-2x"></i></button>

                            </td>
                        </tr>
                        <!--                        <tr ng-repeat-end>
                                                    <td colspan="{{numeroColumnas()}}">
                                                        <div class="collapse" id="{{alumno.id}}">
                                                            <div class="well">
                                                                <div ng-include src="'frontend/views/core/forms/alumno/alumno.html'">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>-->
                    </tbody>
                </table>
            </div><!-- /content-panel -->
            </div>
        </div><!-- /col-md-12 -->
    </div><!-- /row -->

    <!-- Modal datos-->
    <div ng-include src="'frontend/views/modals/custom_modal.html'">
    </div>
    <!-- Modal datos-->             

</div>