{% extends ":Modals:baseModal.html.twig" %}

{%block tituloModal %}

    <p class="verde">
        Detalle Facilitador {% verbatim %}{{nombreFacilitador}}{% endverbatim %}
    </p>
    
{%endblock tituloModal %}

{% block contenidoModal  %}

<span 
    ng-click= "exportandoACSV()" 
    csv-header= "getHeaderCSVDetalle()" 
    ng-csv= "getDatosExportarDetalle()" 
    filename= {% verbatim %}{{nombreReporte}}{% endverbatim %} field-separator= ",">
        <i class="fa fa-download cambiaestatus cursor-pointer"> </i>
    Exportar a CSV
</span>

<div class="table-responsive" id="exportable2">
                <table 
                       
                       st-table   ="gruposDeFacilitador"
                       id         ="searchTextResults"
                       st-safe-src="gruposDeFacilitador2"
                       class      ="table table-condensed table-striped table-hover table-bordered ">
                    <thead class="no-bd">
                        <tr>
                            <th colspan="14">
                                <input st-search="" 
                                    class="form-control" 
                                    placeholder="Buscar ..." type="text"
                                    ng-model="BusquedaC"
                                    ng-keypress="buscarCurso($event)"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="gruposDeFacilitador.nombre_centro">
                                Centro
                            </th>
                            <th st-sort="gruposDeFacilitador.curso_nombre">
                                Curso
                            </th>
                            <th st-sort="gruposDeFacilitador.clave_grupo">
                                Clave Grupo
                            </th>
                            <th st-sort="gruposDeFacilitador.fecha_inicio">
                                Fecha Inicio
                            </th>
                            <th st-sort="gruposDeFacilitador.fecha_fin">
                                Fecha Fin
                            </th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        <tr align="center" ng-repeat="grupo in gruposDeFacilitador">
                            <td data-as-sortable-item><span ng-bind="grupo.nombre_centro"></span>
                            </td>
                            <td data-as-sortable-item><span ng-bind="grupo.curso_nombre"></span>
                            </td>
                            <td data-as-sortable-item><span ng-bind="grupo.clave_grupo"></span>
                            </td>
                            <td data-as-sortable-item><span ng-bind="grupo.fecha_inicio"></span>
                            </td>
                            <td data-as-sortable-item><span ng-bind="grupo.fecha_fin"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="20" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages=""></div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>


{% endblock contenidoModal %}

    {%block btnAceptar %}
            
    {%endblock btnAceptar%}

{%block textoCancelar %}

    <button type="button"
            class="btn btn-negro"
            data-dismiss="modal">
        Cerrar
    </button>
{%endblock textoCancelar%}