{# empty Twig template #}
<div id="interesados"
     ng-show="mostrarElemento('interesados') && currentTabDetalle == 'interesados'"
     >
    <div class = "bg-warning text-center fomulario-solo-lectura"
        ng-if = "!mostrarElemento('existenInteresados')">No existen preinscritos</div>
    <table class        = "table table-striped table-bordered table-condensed"
           >
        <thead>
            <td>
                Nombre
            </td>
        </thead>
        <tbody>

        </tbody>

        <tr ng-repeat    = "interesado in ofertaActividad.interesados">
            <td >
                <span data-ng-bind = "interesado.nombre_completo"></span>
            </td>
        </tr>
    </table>
</div>
