<div id="inscritos"
     ng-show="mostrarElemento('inscritos') && currentTabDetalle == 'inscritos'"
     >
    <div class = "bg-warning text-center fomulario-solo-lectura"
         ng-if = "!mostrarElemento('existenInscritos')">No existen alumnos inscritos</div>
    <table class   = "table table-striped table-bordered table-condensed">
        <thead>
            <td>
                Nombre
            </td>
        </thead>
        <tbody>

        </tbody>

        <tr ng-repeat    = "inscrito in ofertaActividad.inscritos">
            <td >
                <span data-ng-bind = "inscrito.nombre_completo"></span>
            </td>
        </tr>
    </table>
</div>
