<!--<div ng-init="init()">-->
<div>
    <div class="row">
        <div class="col-mt-12">
            <div class="content-panel">
                <h1><i class="fa fa-angle-right"></i>Aerodanza Beta 1</h1>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div><!-- /row -->

    <!-- Modal datos-->
    <div ng-include src="'frontend/views/modals/custom_modal.html'">
    </div>
    <!-- Modal datos-->             

</div>