{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}

{% block cssPage %}
{% endblock cssPage%}

{% block javascriptPage %}

<!--Servicio de Parametros-->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/parametros/services/parametroService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>

<!--Servicios comunes -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/parametros/controllers/parametroCtrl.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/sincronizacionCtrl.js') }}"></script>

{% endblock javascriptPage %}

{%block title %}
    Parametros
{% endblock title %}

{%block content %}
<br>
	<br>
		<h2>
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Parámetros
		</h2>
	<br>

{% include 'ControlEscolarCalendarioBundle:parametrizacion:parts/listadoParametros.html.twig'
    with{
        'ambiente':ambiente,
        'parametroDesdeCentral':'false'
        }
%}

<!-- END MAIN CONTENT -->
{% if validaRuta('put_parametros_sincronizacion') == 'permitido' %}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-sm-12" ng-controller="sincronizacionCtrl">
                                            <button class="btn btn-default" type="submit" ng-click="publicarParametro()">
                                                Publicar parametros en centro
                                            </button>
                                        </div>
                                    </div>
                                </div>
{%endif%}
{% endblock content %}

