{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}

{% block cssPage %}
{% endblock cssPage%}

{% block javascriptPage %}

<!--Servicio de Parametros-->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/parametros/services/parametroService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/centroService.js')                                 }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/equivalenciaService.js')                                 }}"></script>

<!--Servicios comunes -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/parametros/controllers/parametroCtrl.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/modifcacionDesdeCentralCtrl.js')      }}"></script>

{% endblock javascriptPage %}

{%block title %}
    Parametros Local
{% endblock title %}

{%block content %}
    <br>
	<br>
		<h2>
			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Parámetros de centros
		</h2>
	<br>
     {# SE INCLUYE EL ARCHIVO PARA MODIFICAR DESDE CENTRAL#}
{% include 'ControlEscolarCalendarioBundle:comun:modificacionDesdeCentral.html.twig'%}

{% include 'ControlEscolarCalendarioBundle:parametrizacion:parts/listadoParametros.html.twig'
    with{
        'ambiente':ambiente,
        'parametroDesdeCentral':'true'
        }%}
    <!-- END MAIN CONTENT -->
    <!-- END MAIN CONTENT -->

{% endblock content %}